// =============================================================================
// ACCOUNT VIEW (CSS)
// =============================================================================

.account-view {
  .form-row {
    @extend .column;

    @include breakpoint(medium) {
      float: left;
      width: 50%;
    }
  }

  .button {
    padding-left: rem-calc(25);
    padding-right: rem-calc(25);
  }

  .button-group {
    padding-top: rem-calc(26);

    @include breakpoint(small down) {
      text-align: center;

      .button {
        margin: 0;
      }
    }
  }

  &__box {
    background: $white;
    font-style: normal;
    line-height: 1.5;

    @include breakpoint(medium) {
      border: rem-calc(1) solid #D1D1D1;
      padding: rem-calc(30);
    }

    @include breakpoint(small down) {
      margin: rem-calc(0 -10);
      padding: rem-calc(15 10);
    }
  }
}

.clothia-auth {
  .tab-content {
    .wrapper {
      .g-recaptcha {
        margin-top: 1.5rem;

        & > div{
          margin: 0 auto;
        }
      }

      .login .button {
        margin: 1rem auto;
      }
    }
  }
  input[type=submit] {
    margin: 0 auto;
    width: 50%;
    display: block;
  }
}

