// =============================================================================
// DASHBOARD (CSS)
// =============================================================================

.dashboard {
  &__block {
    header {
      position: relative;

      .edit {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);


        @include breakpoint(small down) {
          font-size: rem-calc(14);

          span {
            display: none;
          }
        }
      }
    }

    &--orders {
      @include breakpoint(medium) {
        padding-top: rem-calc(44);
        margin-bottom: rem-calc(35);
      }

      @include breakpoint(small down) {
        margin-bottom: rem-calc(26);
      }

      footer {
        @include breakpoint(medium) {
          text-align: center;
        }

        @include breakpoint(small down) {
          background: $white;
          height: rem-calc(50);
          line-height: rem-calc(30);
          margin-left: rem-calc(-10);
          margin-right: rem-calc(-10);
          padding: rem-calc(10);
          text-align: right;
        }

        .button {
          margin: 0;

          @include breakpoint(small down) {
            background: none;
            border: none;
            color: $black;
            display: inline;
            font-weight: normal;
            line-height: 1;
            padding: 0;
            padding-right: rem-calc(18);
            position: relative;
            text-transform: none;
            vertical-align: middle;
            white-space: nowrap;

            &:after {
              border-left: rem-calc(8) solid $black;
              border-top: rem-calc(5) solid transparent;
              border-bottom: rem-calc(5) solid transparent;
              content: '';
              display: block;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
    }

    &--addresses {
      @include breakpoint(medium) {
        margin-bottom: rem-calc(55);
      }

      @include breakpoint(small down) {
        margin-bottom: rem-calc(26);
      }
    }

    &--payment-methods {
      .button-group {
        padding-top: 0;
      }
    }

    &--details {
      strong {
        color: $black;
        font-weight: normal;
      }

      .button-group {
        font-size: 0;
        padding-top: 0;
      }

      .button {
        margin-bottom: 0;
        margin-right: rem-calc(30);

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__info {
    @include breakpoint(small down) {
      font-size: rem-calc(13);
    }
  }
}

table.my_account_orders {
  margin-bottom: 0;

  thead {
    th, td {
      color: $black;
    }
  }

  tbody {
    td {
      @include breakpoint(medium) {
        padding: rem-calc(40 20);
      }

      @include breakpoint(small down) {
        margin: rem-calc(5 0 0);

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  tr {
    @include breakpoint(small down) {
      padding: rem-calc(15);
    }
  }

  .order-number {
    @include breakpoint(medium) {
      width: rem-calc(185);
    }
  }

  .order-status {
    @include breakpoint(small down) {
      position: absolute;
      right: rem-calc(15);
      top: rem-calc(10);
      opacity: .5;
    }
  }

  .order-total {
    .amount {
      font-weight: 500;
    }
  }

  .order-tracking {
    @include breakpoint(small down) {
      display: none;
    }

    .track {
      color: $primary-color;
    }
  }

  .order-actions {
    white-space: nowrap;

    @include breakpoint(medium) {
      text-align: right;
      width: rem-calc(225);
    }

    @include breakpoint(small down) {
      text-align: left;
      margin-top: rem-calc(10);
    }

    .button {
      margin: 0;

      @include breakpoint(medium) {
        padding: rem-calc(8 16);
      }

      + .button {
        margin-left: rem-calc(4);
      }

      @include breakpoint(small down) {
        font-size: .8em;
        padding: rem-calc(6 10 5);
      }

      &.pay {
        background: #008900;

        &:hover {
          background: lighten(#008900, 7%);
        }
      }

      &.view {
        background: #9BA6BB;

        &:hover {
          background: darken(#9BA6BB, 7%);
        }
      }

      &.cancel {

      }
    }
  }
}