// =============================================================================
// PAYMENTS (CSS)
// =============================================================================

table.account-payment-methods-table {
  margin-bottom: 0;

  thead {
    th, td {
      color: $black;
    }
  }

  tbody {
    td {
      @include breakpoint(medium) {
        padding: rem-calc(40 20);
      }

      @include breakpoint(small down) {
        margin: rem-calc(5 50 0 0);

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .payment-method-actions {
    text-align: center;

    @include breakpoint(small down) {
      margin-top: 0;
      position: absolute;
      top: rem-calc(10);
      right: rem-calc(10);
    }

    a {
      display: inline-block;
      vertical-align: middle;

      @include breakpoint(medium) {
        padding: rem-calc(8 16);
      }

      @include breakpoint(small down) {
        font-size: .8em;
        padding: rem-calc(6 10 5);
      }

      &.delete {
        font-weight: normal;
        font-size: 1.5rem;

        &:hover {
          @include breakpoint(medium) {
            color: $anchor-color-hover;
          }
        }
      }

      &.default {
        color: $white;
        background: #008900;

        &:hover {
          background: lighten(#008900, 7%);
        }
      }

      + a {
        margin-left: rem-calc(10);

        @include breakpoint(small down) {
          margin-left: rem-calc(4);
        }
      }
    }
  }
}