// =============================================================================
// ORDER (CSS)
// =============================================================================

.order {
  &__list {
    background: #FCFCFC;
    border: rem-calc(1) solid #E7E7E7;
    margin: 0;

    @include breakpoint(medium) {
      margin: rem-calc(16 0 0);
      padding: rem-calc(40);
    }

    @include breakpoint(small down) {
      margin-bottom: rem-calc(20);
      padding: rem-calc(20);
    }
  }

  &__item {
    align-items: center;
    border-bottom: rem-calc(1) solid #E7E7E7;

    @include breakpoint(medium) {
      display: flex;
      margin-bottom: rem-calc(35);
      padding-bottom: rem-calc(35);
    }

    @include breakpoint(small down) {
      display: block;
      margin-bottom: rem-calc(20);
      padding-bottom: rem-calc(20);
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    &--total {
      justify-content: flex-end;

      ul {
        margin: 0;

        @include breakpoint(medium) {
          line-height: 2.25;
          width: 37.4977477%;
          white-space: nowrap;
        }

        li {
          @include breakpoint(medium) {
            display: flex;
            justify-content: space-between;
          }

          @include breakpoint(small down) {
            display: block;
          }

          .label {
            @include breakpoint(medium) {
              //width: 17.454955%;
            }
          }

          .value {
            color: $black;
            font-weight: 500;

            @include breakpoint(medium) {
              //width: 20.045045%;
            }
          }
        }
      }
    }

    &__image {
      background: $white;

      @include breakpoint(medium) {
        $size: 110px;

        border: rem-calc(1) solid #BFBFBF;
        margin-right: 3.7162162%;
        height: rem-calc($size);
        width: rem-calc($size);
        position: relative;
      }

      @include breakpoint(small down) {
        display: none;
      }

      img {
        display: block;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        @include breakpoint(medium) {
          max-height: 80%;
          max-width: 80%;
        }
      }
    }

    &__info {
      @include breakpoint(medium) {
        margin-right: 3.7162162%;
        width: 42.6801802%;
      }

      dl {
        margin: 0;

        dt, dd {
          display: inline;
          font-weight: normal;
          margin: 0;

          p {
            display: inline;
            margin: 0;
          }
        }

        dd {
          margin-right: .3em;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    &__quantity {
      color: $black;

      @include breakpoint(medium) {
        width: 17.454955%;
      }
    }

    &__total {
      font-weight: 500;

      @include breakpoint(medium) {
        text-align: right;
        width: 20.045045%;
      }

      .amount {
        color: $black;
      }
    }
  }

  &__customer_details {
    background: $white;
    border: rem-calc(1) solid #D1D1D1;
    padding: rem-calc(20);

    @include breakpoint(medium) {
      margin: rem-calc(16 0 0);
    }

    &__block {
      border-bottom: rem-calc(1) solid #E8E8E8;
      line-height: 1.5;
      margin-bottom: rem-calc(20);
      padding-bottom: rem-calc(20);

      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }

      header {
        color: $black;
        font-weight: 500;
        margin-bottom: rem-calc(7);

        &:last-child {
          margin-bottom: 0;
        }
      }

      address {
        font-style: normal;
      }
    }
  }
}