html {
  @media screen and #{breakpoint(medium)} and (max-width: 1280px) {
    font-size: 80%;
  }
  @media screen and #{breakpoint(medium)} and (max-width: 1152px) {
    font-size: 70%;
  }

  @include breakpoint(xlarge) {
    font-size: 80%;
    min-width: rem-calc(1170);
  }

  @include breakpoint(xlarge) {
    font-size: 100%;
  }

}

body {

  background-color: #f6f9fb;

  @include breakpoint(medium) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &.fixed {
    @include breakpoint(small down) {
      overflow: hidden;

      &:after {
        background: rgba(0, 0, 0, .2);
        content: '';
        display: block;
        bottom: 0;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 3;
        animation: fadein .5s;
      }
    }
  }
}

video {
  display: block;
  max-width: 100%;
}

main {
  overflow: hidden;

  @include breakpoint(medium) {
    flex: 1;
  }
}

h1 {
  letter-spacing: .05em;
}

h6 {
  letter-spacing: .1em;
}

h1, h2, h3, h4, h5, h6 {
  @include breakpoint(small down) {
    margin-bottom: rem-calc(10);
  }

  a {
    color: #ff0000;
  }
}

a {
  &.red {
    color: #ff0000;

    &:hover {
      @include breakpoint(medium) {
        color: scale-color(#ff0000, $lightness: -7%);
      }
    }
  }
}

mark {
  background: none;

  &.red {
    color: #ff0000;
  }
}

p {
  @include breakpoint(small down) {
    margin-bottom: rem-calc(15);
  }
}

ul.red {
  list-style: none;

  li {
    position: relative;

    &:before {
      background: red;
      border-radius: 50%;
      content: "";
      color: red;
      display: inline-block;
      height: rem-calc(6);
      margin-left: -1.25rem;
      position: absolute;
      top: .5em;
      width: rem-calc(6);
    }
  }
}

blockquote {
  background: #FFEEEF;
  font-size: 1.125em;
  font-style: italic;
  position: relative;
  text-align: center;

  @include breakpoint(small down) {
    font-size: 1em;
    padding: rem-calc(25);
  }

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
  }

  &:before {
    background: url('../img/icons/quotes-top.png') no-repeat center;
    background-size: contain;

    @include breakpoint(medium) {
      height: rem-calc(29);
      left: rem-calc(12);
      top: rem-calc(11);
      width: rem-calc(37);
    }

    @include breakpoint(small down) {
      left: rem-calc(7);
      top: rem-calc(7);
      height: rem-calc(19);
      width: rem-calc(24);
    }
  }

  &:after {
    background: url('../img/icons/quotes-bottom.png') no-repeat center;
    background-size: contain;

    @include breakpoint(medium) {
      bottom: rem-calc(11);
      height: rem-calc(30);
      right: rem-calc(13);
      width: rem-calc(36);
    }

    @include breakpoint(small down) {
      bottom: rem-calc(7);
      height: rem-calc(20);
      right: rem-calc(7);
      width: rem-calc(24);
    }
  }

  > * {
    &:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  br {
    @include breakpoint(small down) {
      display: none;
    }
  }

  + p {
    @include breakpoint(medium) {
      padding-top: rem-calc(22);
    }
  }
}

article {
  position: relative;

  p {
    img {
      @include breakpoint(medium) {
        margin: rem-calc(20 0 0);
      }
    }

    + h2 {
      @include breakpoint(medium) {
        padding-top: rem-calc(22);
      }
    }
  }

  table, .table-scroll {
    font-size: rem-calc(12);

    + p {
      padding-top: rem-calc(17);
    }
  }

  .html5vp {
    @include breakpoint(medium) {
      margin: rem-calc(46 0 26);
    }

    + h2, + p {
      padding-top: rem-calc(14);
    }
  }
}

a {
  outline: none;
  transition: all 0.15s linear;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &[href^="tel"] {
    text-decoration: none;
  }

  .icon & {
    font-family: "Stem";
  }
}

.clear {
  clear: both;
}

.clearfix {
  &:before, &:after {
    content: "";
    display: table;
    width: 100%;
    clear: both;
  }
}

.container {
  @include breakpoint(small down) {
    overflow: hidden;
  }
}

.scroll-top {
  a {
    display: inline-block;
    position: relative;
    padding-left: rem-calc(20);

    &:before {
      border-bottom: rem-calc(8) solid $black;
      border-left: rem-calc(5) solid transparent;
      border-right: rem-calc(5) solid transparent;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.loadmore {
  clear: both;
  padding: rem-calc(20 0 40);

  @include breakpoint(medium) {
    padding: rem-calc(45 0 60);
  }

  &.disabled {
    pointer-events: none;

    a {
      pointer-events: none;
    }
  }

  a {
    display: block;
    color: #9CA7BA;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    font-size: rem-calc(10);
    font-weight: 700;
    width: rem-calc(65);

    @include breakpoint(medium) {
      font-size: rem-calc(12);
      width: rem-calc(75);

      &:hover {
        &:before {
          background: darken(#D7DFE6, 5%);
        }
      }
    }

    &:before {
      background: #D7DFE6;
      border-radius: 50%;
      color: $white;
//      content: $icon-content-loadmore-arrow;
      display: block;
      font-family: "icon";
      font-size: 0.8rem;
      line-height: rem-calc(55);
      height: rem-calc(50);
      margin: 0 auto rem-calc(10);
      width: rem-calc(50);

      @include breakpoint(medium) {
        font-size: 1rem;
        height: rem-calc(70);
        line-height: rem-calc(75);
        margin: 0 auto rem-calc(13);
        transition: all 0.15s linear;
        width: rem-calc(70);
      }
    }
  }
}

.showmore {
  clear: both;
  width: 100%;

  @include breakpoint(medium) {
    padding: rem-calc(40 0 30);
  }

  @include breakpoint(small down) {
    padding: rem-calc(10 0 0);
  }

  &.disabled {
    pointer-events: none;

    a {
      pointer-events: none;
    }
  }

  a {
    color: #fff0f0;
    display: block;
    font-family: "Yefimov Serif";
    font-weight: 900;
    line-height: 1;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint(medium) {
      //font-size: rem-calc(122);
      font-size: 6vw;
      letter-spacing: .35em;

      &:hover {
        color: darken(#fff0f0, 5%);
      }
    }

    @include breakpoint(small down) {
      font-size: rem-calc(30);
      letter-spacing: .4em;
    }
  }
}

.header-block {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;

  @include breakpoint(medium) {
    padding: rem-calc(15 0);
  }

  @include breakpoint(small down) {
    padding: rem-calc(20 0);
  }

  &:before {
    background: $light-gray;
    content: '';
    display: block;
    height: rem-calc(1);
    left: 0;
    position: absolute;
    top: 48%;
    width: 100%;
  }

  &-row {
    @include breakpoint(small down) {
      padding: rem-calc(0 10) !important;
    }
  }

  h3 {
    background: #F9F9F9;
    color: #9ca7ba;
    font-family: 'Yefimov Serif';
    font-size: rem-calc(12);
    font-weight: bold;
    margin: 0;
    padding: rem-calc(0 20);
    position: relative;
    text-transform: uppercase;
  }
}

.img-icon {
  position: relative;

  &:before {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    display: inline-block;
    vertical-align: middle;
  }

  &--heart {
    &:before {
      background-image: url($p_images + 'icons/heart.png');
      height: rem-calc(20);
      width: rem-calc(23);
    }
  }

  &--cart {
    &:before {
      background-image: url($p_images + 'icons/cart.png');
      height: rem-calc(22);
      width: rem-calc(18);
    }
  }
}