// =============================================================================
// CALLOUT (CSS)
// =============================================================================

.callout {
  .close-button {
    @include vertical-center;
    font-size: 2.75em;
  }

  @each $name, $color in $foundation-palette {
    &.#{$name} {
      $border-color: scale-color($color, $lightness: 55%);
      border-color: $border-color;

      .close-button {
        color: $border-color;

        &:hover {
          color: $color;
        }
      }
    }
  }
}
