// =============================================================================
// TAGS (CSS)
// =============================================================================

.tags {
  &__list {
    margin: rem-calc((-8) 0 0);
  }

  &__item {
    display: inline-block;
    margin: rem-calc(8 10 0 0);

    &:last-child {
      margin-right: 0;
    }

    a {
      border: 1px solid $light-gray;
      border-radius: rem-calc(2);
      color: $light-gray;
      display: block;
      font-size: rem-calc(12);
      font-weight: 600;
      padding: rem-calc(2 8);

      &:hover {
        background-color: lighten($light-gray, 30%);
      }
    }
  }
}
