// =============================================================================
// FORMS (CSS)
// =============================================================================

input {
  outline: none;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
  line-height: 1.1;
  padding: rem-calc(7 14);
  outline: none;

  @include breakpoint(small down) {
    font-size: rem-calc(18);
    margin: rem-calc(0 0 10);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

select {
  outline: none;
  padding: rem-calc(5 35 5 14);

  @include breakpoint(small down) {
    margin: rem-calc(0 0 10);
  }
}

option {
  font-size: .8em;
}

label {
  cursor: pointer;
}

.select {
  &__wrap {
    position: relative;

    &:after {
      background: $select-background;
      color: $anchor-color;
      display: block;
      font-family: "icon";
      font-size: 0.7rem;
      font-style: normal;
      font-weight: normal;
      height: rem-calc(30);
      line-height: rem-calc(30);
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: $icon-content-down;
      padding: rem-calc(0 10);
      position: absolute;
      top: 50%;
      right: 2px;
      bottom: 2px;
      margin-top: rem-calc(-15);
      pointer-events: none;
    }
  }
}

abbr[title] {
  border-bottom: none;
  color: $form-label-color;
  cursor: default;
}