// =============================================================================
// FOCUS (CSS)
// =============================================================================

.focus {
  position: relative;

  @include breakpoint(medium) {
    padding-top: 46.1538462%;
  }

  @include breakpoint(small down) {
    padding-top: 104.6875%;
  }

  &__item {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &__title {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      @include breakpoint(medium) {
        //left: rem-calc(140);
        left: 10.7692308%;
      }

      @include breakpoint(small down) {
        left: rem-calc(10);
      }

      .t1, .t2{
        display: block;
      }

      .t1 {
        color: #2a2a2a;

        @include breakpoint(medium) {
          font-size: rem-calc(30);
        }

        @include breakpoint(small down) {
          font-size: rem-calc(24);
        }
      }

      .t2 {
        color: $light-gray;
        font-family: 'Yefimov Serif';
        font-weight: bold;
        letter-spacing: .15em;
        line-height: 1;
        text-transform: uppercase;

        @include breakpoint(medium) {
          font-size: rem-calc(60);
          margin-top: rem-calc(50);
        }

        @include breakpoint(small down) {
          font-size: rem-calc(35);
          margin-top: rem-calc(105);
        }
      }
    }

    &__media {
      background-repeat: no-repeat;
      height: 100%;
      position: absolute;
      pointer-events: none;
      top: 0;
      width: 100%;
      z-index: 0;
      background-image: url('../img/hero/focus_desktop.jpg');

      @include breakpoint(medium) {
        background-size: cover;
      }

      @include breakpoint(small down) {
        background-size: contain;
        background-image: url('../img/hero/focus_sm.jpg');
      }
    }
  }

  &__wrapper {
    position: relative;
  }
}
