// =============================================================================
// PROMO (CSS)
// =============================================================================

.promo {
  background: $promo-background-color;

  @include breakpoint(medium) {
    margin: rem-calc(20 0 40);
  }

  @include breakpoint(small down) {
    margin: rem-calc(0 0 20);
  }

  p {
    line-height: 1;
    margin: 0;
  }

  figure {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    position: relative;

    @include breakpoint(medium) {
      height: rem-calc(360);
    }

    @include breakpoint(small down) {
      height: rem-calc(180);
    }

    a {
     display: block;
      height: 100%;
    }
  }

  &__collection {
    color: $promo-collection-color;
  }

  &__title {
    color: $promo-title-color;
    font-family: "Yefimov Serif";
    font-size: rem-calc(36);
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    @include breakpoint(medium) {
      padding: rem-calc(0 30);
    }

    @include breakpoint(small down) {
      padding: rem-calc(0 20);
    }

    a {
      color: $promo-title-color;

      &:hover {
        @include breakpoint(medium) {
          opacity: .7;
        }
      }
    }
  }

  &__link {
    color: $promo-link-color;
    font-weight: bold;
    text-transform: uppercase;

    @include breakpoint(medium) {
      font-size: rem-calc(18);
    }

    a {
      color: $promo-link-color;
    }
  }

  &__desc {
    position: relative;
    text-align: center;

    @include breakpoint(medium) {
      height: rem-calc(360);
      margin: rem-calc(0 -10 0 -15);
    }

    @include breakpoint(small down) {
      height: rem-calc(180);
    }

    header, footer {
      position: absolute;
      left: 0;
      width: 100%;
    }

    header {
      @include breakpoint(medium) {
        top: rem-calc(40);
      }

      @include breakpoint(small down) {
        top: rem-calc(20);
      }
    }

    footer {
      @include breakpoint(medium) {
        bottom: rem-calc(40);
      }

      @include breakpoint(small down) {
        bottom: rem-calc(20);
      }
    }
  }
}