.widget-woof {
  background-color: #ffffff;
  border: 1px solid rgba(0,0,0,0.04);
  padding: 1rem 1rem 0.2rem 1rem;
  margin-bottom: 2rem;

  @include breakpoint(small down) {
    display: none;
  }

  .woof_select {
    display: none;
  }

  .woof_redraw_zone {
    display: flex;
    justify-content: flex-start;

    & > * {
      margin-bottom: 0;
      padding-bottom: 0;
      min-width: 16rem;
      padding-top: .5rem;
    }
  }

  h4 {
    font-family: $body-font-family;
    font-weight: normal;
    float: left;
    font-size: 1rem;
    margin-bottom: 0;
    transform: translateY(-1px);
    opacity: 0.7;

    &:after {
      content: ':';
    }
  }

  .woof_block_html_items {
    float: left;
  }

  .woof_submit_search_form_container {
    width: 100%;
    margin: 0;
    padding-top: 0;

    & > button {
      float: right !important;
      padding-top: .5rem;
      padding-bottom: .5rem;
      margin-left: 1rem;
      margin-bottom: 0.8rem;

      &.woof_reset_search_form {
        background: #777;
      }
    }
  }
}

div.woof_info_popup {
  background-color: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #000;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 1.2rem;
}