.free-shipping {
  background: $free-shipping-background-color url($p_images + '3dbox.png') no-repeat center;
  text-align: center;
  background-size: auto 90%;

  @include breakpoint(medium) {
    height: rem-calc(360);
    padding: rem-calc(80 20 0);
    margin-bottom: rem-calc(40);
  }

  @include breakpoint(small down) {
    background-size: 45%;
    height: rem-calc(180);
    padding: rem-calc(40 10 0);
    margin-bottom: rem-calc(20);
  }

  &__title {
    color: $black;
    font-family: "Yefimov Serif";
    font-weight: bold;
    line-height: 1;
    position: relative;

    @include breakpoint(medium) {
      font-size: rem-calc(48);
      margin-bottom: rem-calc(30);
    }

    @include breakpoint(small down) {
      font-size: rem-calc(24);
      margin-bottom: rem-calc(30);
    }
  }

  &__summary {
    color: #636363;

    @include breakpoint(medium) {
      font-size: rem-calc(18);
    }

    @include breakpoint(small down) {
      font-size: rem-calc(12);
    }
  }
}
