body.body--with-splash {
  &:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    background-color: transparentize(#fff, 0.2);
  }
}

.splash-message {
  display: block;
  position: fixed;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s linear .5s, transform .5s ease-out .5s;
  z-index: 110;

  &.visible {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}