// =============================================================================
// PROMO (Settings)
// =============================================================================

$promo-background-color: $white;
$promo-collection-color: #9ca7ba;
$promo-title-color: #ff0000;
$promo-link-color: $black;