.view {
  &__header {
    position: relative;

    @include breakpoint(medium) {
      padding: rem-calc(40 0);
    }

    @include breakpoint(small down) {
      padding: rem-calc(0 0 20);
    }

    .social-links {
      float: right;

      @include breakpoint(medium) {
        margin-top: rem-calc(16);
      }


      &__item {
        @include breakpoint(small down) {
          margin-left: rem-calc(30);

          &:first-child {
            margin-left: 0;
          }
        }


        @include breakpoint(medium) {
          margin-left: rem-calc(45);
        }


        a {
          color: #E8EBF1;
          font-size: rem-calc(20);
          min-width: rem-calc(20);
          text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);

          @include breakpoint(medium) {
            font-size: rem-calc(32);
            min-width: rem-calc(32);

            &:hover {
              color: $anchor-color;
            }
          }
        }
      }
    }

    .share-links {
      float: right;

      @include breakpoint(medium) {
        margin-top: rem-calc(16);
      }

      &__item {
        @include breakpoint(small down) {
          margin-left: rem-calc(30);

          &:first-child {
            margin-left: 0;
          }
        }

        @include breakpoint(medium) {
          margin-left: rem-calc(45);
        }

        a {
          color: #E8EBF1;
          font-size: rem-calc(20);
          min-width: rem-calc(20);
          text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);

          @include breakpoint(medium) {
            font-size: rem-calc(32);
            min-width: rem-calc(32);

            &:hover {
              color: $anchor-color;
            }
          }
        }
      }
    }

    .jssocials-share {
      @include breakpoint(small down) {
        margin-left: rem-calc(30);

        &:first-child {
          margin-left: 0;
        }
      }

      @include breakpoint(medium) {
        margin-left: rem-calc(45);
      }
    }

    .jssocials-share-link {
      color: #E8EBF1;
      font-size: rem-calc(20);
      min-width: rem-calc(20);
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);

      @include breakpoint(medium) {
        font-size: rem-calc(32);
        min-width: rem-calc(32);

        &:hover {
          color: $anchor-color;
        }
      }
    }
  }

  &__title {
    color: $black;
    font-family: "Yefimov Serif";
    font-weight: bold;
    letter-spacing: .05em;
    margin: rem-calc(0);

    + h2, + h3, + h4 {
      color: $body-font-color;

      @include breakpoint(medium) {
        margin: rem-calc(10 0 0);
      }

      @include breakpoint(small down) {
        margin: rem-calc(7 0 0);
      }
    }
  }
}
