// =============================================================================
// PRODUCTS (CSS)
// =============================================================================

.products {
  .loadmore {
    display: none;
  }

  @include breakpoint(small down) {
    //padding: rem-calc(0 0 55);

    //.loadmore {
    //  padding: rem-calc(40 0 0);
    //}
  }
}
