// =============================================================================
// PRODUCT (CSS)
// =============================================================================

.product-card {
  text-align: center;

  @include breakpoint(medium) {
    margin-bottom: rem-calc(40);
  }

  @include breakpoint(small down) {
    margin-bottom: rem-calc(20);
  }

  header {
    background: $white;
    position: relative;
    padding-top: 100%;
  }

  figure {
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &:hover {
      .product-card__figure__gallery {
        transform: translateY(-100%);
        pointer-events: all;
        box-shadow: 0 0 rem-calc(10) 0 rgba(0,0,0,0.2);
      }
    }

    a {
      background: $white;
      height: 100%;
      display: block;
      position: relative;
      border: 1px solid rgba(0, 0, 0, 0.04);
    }

    .out-of-stock {
      color: $black;
      display: block;
      font-weight: 500;
      left: 50%;
      position: absolute;
      text-transform: uppercase;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      white-space: nowrap;
      z-index: 1;

      @include breakpoint(small down) {
        font-size: rem-calc(12);
      }

      + img {
        opacity: .25;
      }
    }

    img {
      left: 50%;
      max-width: 80%;
      max-height: 80%;
      top: 50%;
      position: absolute;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &__figure {
    &__gallery {
      border: rem-calc(1) solid lighten($light-gray, 10%);
      border-bottom: rem-calc(1) solid $primary-color;
      top: 0;
      background: $white;
      padding: rem-calc(2);
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      left: 0;
      right: 0;
      pointer-events: none;
      justify-content: center;
      transition: all .15s linear;

      a {
        border: 1px solid lighten($light-gray, 10%);
        display: block;
        width: 30%;
        margin: 1%;

        img {
          position: relative;
          top: auto;
          left: auto;
          transform: none;
        }
      }
    }
  }

  &__brand {
    color: $product-brand-color;
    font-family: "Yefimov Serif";
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: .1em;
    margin: 0;
    text-transform: uppercase;

    @include breakpoint(medium) {
      font-size: rem-calc($product-brand-font-size);
    }

    @include breakpoint(small down) {
      font-size: rem-calc(10);
    }

    a {
      color: $product-brand-color;

      @include breakpoint(medium) {
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  &__variation {
    line-height: 1.2;
    margin: 0;

    @include breakpoint(medium) {
      font-size: rem-calc($product-brand-font-size);
      margin: rem-calc(6 0 0);
    }

    @include breakpoint(small down) {
      font-size: rem-calc(10);
      margin: rem-calc(5 0 0);
    }

    a {
      color: $product-brand-color;

      @include breakpoint(medium) {
        &:hover {
          opacity: 0.7;
        }
      }
    }

    strong {
      font-weight: 500;
    }

    > span {
      &:after {
        content: ', ';
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }

  &__title {
    font-family: "Stem";
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
    text-decoration: none;

    @include breakpoint(medium) {
      font-size: rem-calc($product-title-font-size);
    }

    @include breakpoint(small down) {
      font-size: rem-calc(12px);
    }

    + .product-card__brand {
      @include breakpoint(medium) {
        margin: rem-calc(3 0 0);
      }

      @include breakpoint(small down) {
        margin: rem-calc(2 0 0);
      }
    }

    a {
      color: $product-title-color;

      @include breakpoint(medium) {
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  &__label {
    color: #9ca7ba;
    font-weight: 500;
    position: absolute;
    top: 6.4516129%;
    left: 9.6774194%;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 1;

    @include breakpoint(medium) {
      font-size: rem-calc(14);
    }

    @include breakpoint(small down) {
      font-size: rem-calc(10);
    }

    + .product-card__label {
      top: rem-calc(40);
    }

    &--sale {
      color: #ff0000;
    }
  }

  &__price {
    color: $body-font-color;
    font-size: rem-calc(10);
    margin: 0;
    text-transform: uppercase;

    @include breakpoint(medium) {
      font-size: rem-calc(16);
      margin-top: rem-calc(2);
    }

    del {
      font-size: .8em;
      font-weight: normal;
      color: $dark-gray;
      margin-right: .3em;
    }

    ins {
      text-decoration: none;
    }
  }

  &__options {
    display: none;

    .button {
      border-radius: 2px;
      margin: rem-calc(10 0 0);
      padding: rem-calc(10 16 9);
      white-space: nowrap;

      @include breakpoint(medium) {
        margin: rem-calc(17 0 0);
        padding: rem-calc(14 24 12);
        width: auto;
      }

      &.loading {

      }

      + .added_to_cart {
        display: inline-block;
        font-size: 12px;
        position: absolute;
        top: 102%;
        left: 50%;
        white-space: nowrap;
        transform: translateX(-50%);
      }
    }
  }

  footer {
    @include breakpoint(medium) {
      padding: rem-calc(14 0 0);
    }

    @include breakpoint(small down) {
      padding: rem-calc(8 10 0);
    }
  }

  &--tooltip {
    background: $white;
    margin-bottom: 0;

    @include breakpoint(medium) {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: rem-calc(300);
      text-align: left;
      padding: rem-calc(30);
    }

    @include breakpoint(small down) {
      height: 100%;
      justify-content: center;
      width: 100%;
    }

    header {
      @include breakpoint(medium) {
        display: none;
      }
    }

    footer {
      position: relative;

      @include breakpoint(medium) {
        padding: 0;
      }
    }

    .product-card__figure {
      a {
        pointer-events: none;
      }
    }

    .product-card__options {
      font-size: 0;
      vertical-align: middle;

      @include breakpoint(medium) {
        display: inline-block;
      }

      @include breakpoint(small down) {
        display: block;
        margin-bottom: rem-calc(7);
      }

      .button {
        margin: 0;
      }

      + .product__wishlist {
        @include breakpoint(medium) {
          margin-left: rem-calc(30);
        }
      }
    }

    .product__wishlist {
      display: inline-block;
      position: static;
      vertical-align: middle;
    }

    .product-card__brand {
      font-size: rem-calc(14);
      margin: rem-calc(0 0 10);
    }

    .product-card__title {
      font-size: rem-calc(18px);
      font-family: "Yefimov Serif";
      font-weight: bold;
    }

    .product-card__price {
      display: block;
      margin-top: rem-calc(5);
      font-weight: normal;

      @include breakpoint(medium) {
        margin-bottom: rem-calc(20);
      }

      @include breakpoint(small down) {
        margin-bottom: rem-calc(10);
      }
    }
  }
}

.product {
  &__wishlist {
    position: absolute;
    top: 5.8064516%;
    right: 5.8064516%;
    z-index: 1;

    .yith-wcwl-add-to-wishlist {
      margin: 0;
      position: relative;
    }

    .yith-wcwl-add-to-wishlist .ajax-loading {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);

      &[style*="visible"] {
        + a {
          opacity: .3;
        }
      }
    }

    a {
      text-decoration: none;
      display: block;

      svg {
        width: 16px;
        height: 16px;

        @include breakpoint(large) {
          width: 24px;
          height: 24px;
        }
        path {
          fill: #9BA6BB;
        }
      }

      &:hover {
        &:before {
          color: $alert-color;
        }
      }

      &.added-to-wishlist {
        svg {
          path {
            fill: $alert-color;
          }
        }
      }
    }
  }
}