// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================

.product-view {
  &__title {
    margin-bottom: rem-calc(8);

    h1 {
      line-height: 1;
      margin: 0;
    }
  }

  &__price {
    color: $primary-color;
    line-height: 1;
    margin: 0 !important;

    @include breakpoint(medium) {
      font-size: rem-calc(20);
    }

    @include breakpoint(small down) {
      font-size: rem-calc(18);
    }

    del {
      font-size: .8em;
      font-weight: normal;
      color: $dark-gray;
      margin-right: .3em;
    }

    ins {
      text-decoration: none;
    }
  }

  &__details {
    @include breakpoint(medium) {
      margin: rem-calc(0 0 30);
      padding: rem-calc(0 0 0 10);

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include breakpoint(small down) {
      margin: rem-calc(0 0 20);
      padding: rem-calc(0 10);
    }

    &:first-child {
      @include breakpoint(medium) {
        margin: rem-calc(0 0 30);
        padding-bottom: rem-calc(25);
      }

      @include breakpoint(small down) {
        margin: rem-calc(0 0 10);
      }
    }

    &__title {
      color: $light-gray;
      text-transform: uppercase;
      margin: rem-calc(0 0 16);
    }

    &__content {
      font-size: rem-calc(14);

      p {
        margin-bottom: rem-calc(20);
      }
    }

    select, .button {
      margin-bottom: 0;
    }

    select {
      background: none;
      border: none;
      border-bottom: rem-calc(1) solid $black;
      font-size: rem-calc(14);
      height: auto;
      margin-bottom: rem-calc(8);
      padding: rem-calc(8 0);

      @include breakpoint(small down) {
        font-size: 16px;
      }
    }

    .button--add-to-cart {
      border-radius: 2px;
      padding: rem-calc(10 5 9);
      margin: rem-calc(35 0 0 10);
      width: 100%;
      white-space: nowrap;

      @include breakpoint(medium) {
        padding: rem-calc(16 24 14);
        width: auto;
      }
    }

    form.cart {
      .quantity {
        display: none !important;

        input {
          background: none;
        }
      }

      .button {
        padding-left: rem-calc(16);
        padding-right: rem-calc(16);
        min-width: rem-calc(150);

        + .quantity {
          margin-left: rem-calc(7);
        }
      }
    }

    &__custom-fields {
      > .column, > .columns {
        &:nth-child(n+7) {
          display: none
        }
      }
    }

    .readmore {
      color: $light-gray;
      display: inline-block;
      padding: rem-calc(20 20 20 16);
      position: relative;

      &:before {
        border-top: rem-calc(8) solid $light-gray;
        border-left: rem-calc(5) solid transparent;
        border-right: rem-calc(5) solid transparent;
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: rem-calc(-4);
        transition: all .15s linear;
      }

      &:hover {
        @include breakpoint(medium) {
          color: $anchor-color-hover;

          &:before {
            border-top-color: $anchor-color-hover;
          }
        }
      }

      &.expanded {
        &:before {
          border-top: none;
          border-bottom: rem-calc(8) solid $light-gray;
        }

        &:hover {
          @include breakpoint(medium) {
            &:before {
              border-bottom-color: $anchor-color-hover;
            }
          }
        }
      }
    }

    .accordion-item {
      border-bottom: none;
      margin-bottom: 0;

      > a {
        color: $light-gray;
        font-size: rem-calc(14);

        &:after {
          border-top: rem-calc(8) solid $light-gray;
        }

        &:hover {
          @include breakpoint(medium) {
            color: $anchor-color-hover;

            &:after {
              border-top-color: $anchor-color-hover;
            }
          }
        }
      }
    }

    .accordion-content {
      padding-bottom: rem-calc(10);

      ul {
        margin-bottom: rem-calc(20);
        margin-left: 0;

        &:last-child {
          margin-bottom: 0;
        }

        li {
          display: block;
          padding-left: rem-calc(16);
          position: relative;

          &:before {
            background: $primary-color;
            border-radius: 50%;
            content: '';
            height: rem-calc(3);
            position: absolute;
            top: .6em;
            left: 0;
            width: rem-calc(3);
          }
        }
      }
    }
  }

  &__select {
    margin: rem-calc(0 0 8);

    .select2-choice {
      background: none;
      border: none;
      border-top: rem-calc(1) solid transparent;
      border-bottom: rem-calc(1) solid $black;
      font-size: rem-calc(14);
      padding: rem-calc(10 0);

      .select2-arrow b {
        &:after {
          left: auto;
          right: 0;
        }
      }
    }

    &.select2-dropdown-open.select2-drop-above {
      .select2-choice {
        border-top-color: transparent;
        border-left: none;
        border-right: none;
      }
    }

    &__dropdown {
      font-size: rem-calc(14);
      margin-top: 0;

      .select2-search {
        display: none;
      }

      &.select2-drop.select2-drop-above {
        margin-top: 0;
        border-bottom: rem-calc(1) solid $black;
      }
    }
  }

  &__info {
    overflow: hidden;
    position: relative;

    @include breakpoint(medium) {
      max-height: rem-calc(190);
    }

    @include breakpoint(small down) {
      max-height: rem-calc(250);
    }

    &[aria-expanded="false"] {
      &:after {
        background: -moz-linear-gradient(top,  rgba(249,249,249,0) 0%, rgba(249,249,249,0.5) 20%, rgba(249,249,249,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(249,249,249,0) 0%,rgba(249,249,249,0.5) 20%,rgba(249,249,249,1) 100%);
        background: linear-gradient(to bottom,  rgba(249,249,249,0) 0%,rgba(249,249,249,0.5) 20%,rgba(249,249,249,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f9f9f9', endColorstr='#f9f9f9',GradientType=0 );

        content: '';
        display: block;
        bottom: 0;
        height: rem-calc(36);
        left: 0;
        position: absolute;
        width: 100%;
      }
    }

    a {
      color: $body-font-color;

      &:hover {
        @include breakpoint(medium) {
          color: $black;
        }
      }
    }
  }

  &__brand {
    $color: $light-gray;

    color: $color;
    font-weight: bold;
    line-height: 1.2;
    margin: -.2222em 0 0;
    text-transform: uppercase;

    @include breakpoint(medium) {
      font-size: rem-calc(18);
      margin-bottom: 1em;
    }

    @include breakpoint(small down) {
      font-size: rem-calc(14);
      margin-bottom: .5em;
    }

    a {
      color: $color;

      &:hover {
        @include breakpoint(medium) {
          color: $anchor-color-hover;
        }
      }
    }
  }

  &__attributes {
    p {
      margin-bottom: rem-calc(8);
    }

    + .product-view__description {
      margin-top: rem-calc(8);
    }
  }

  &__description {
    > * {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__variation {
    margin-bottom: rem-calc(10);

    @include breakpoint(medium) {
      width: rem-calc(200);
    }

    > label {
      display: none;
    }

    > a {
      color: $primary-color;

      &:hover {
        @include breakpoint(medium) {
          text-decoration: underline;
        }
      }
    }
  }

  &__media {
    position: relative;

    @include breakpoint(medium) {
      margin: rem-calc(0 -15 0 0);
      height: rem-calc(640);
    }

    @include breakpoint(small down) {
      margin: rem-calc(15 0 30);
      padding-bottom: rem-calc(70);
    }

    img {
      background-color: $white;
    }
  }

  &__carousel {
    background: $white;
    overflow: hidden;
    position: relative;
    border: 1px solid rgba(0,0,0,0.04);

    @include breakpoint(medium) {
      height: 100%;

      &:hover {
        .product-view__carousel__prev, .product-view__carousel__next {
          &.on-video {
            opacity: 1;

            &:hover {
              opacity: .5;
            }

            &.disabled {
              opacity: .3;
            }
          }
        }
      }
    }

    @include breakpoint(xxlarge) {
      max-width: rem-calc(640);
    }

    @include breakpoint(small down) {
      padding-top: 100%;
      z-index: 1;
    }

    &__wrapper {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      transition-property: transform;
      transform: translate3d(0, 0, 0);
      align-items: center;

      @include breakpoint(medium) {
        position: relative;
      }

      @include breakpoint(small down) {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &__item {
      -webkit-flex-shrink: 0;
      -ms-flex: 0 0 auto;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      width: 100%;
      height: 100%;
      position: relative;
      pointer-events: none;
      text-align: center;

      &:first-child {
        box-sizing: border-box;
        padding: 10%;
      }

      &.video {
        pointer-events: initial;
      }

      &__wrap {
        display: block;
        height: 100%;
        white-space: nowrap;
        line-height: 0;
        font-size: 0;

        @include breakpoint(medium) {
          pointer-events: initial;
        }

        &:before {
          content: '';
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }
      }

      img {
        max-height: 100%;
      }

      .video-js {
        height: 100%;
        padding-top: 100% !important;
        display: inline-block;
        vertical-align: middle;

        &.vjs-fullscreen {
          position: absolute;
        }
      }

      video, .video-js {
        width: 100%;
      }
    }

    &__prev, &__next {
      color: $anchor-color;
      cursor: pointer;
      font-size: rem-calc(38);
      position: absolute;
      top: 50%;
      z-index: 2;
      transition: all .15s linear;
      min-width: rem-calc(38);
      display: none;
      transform: translateY(-50%);

      @include breakpoint(medium) {
        &:hover {
          opacity: .5;
        }
      }

      &.on-video {
        opacity: 0;
      }

      &.disabled {
        cursor: default;
        opacity: .3;

        &.on-video {
          opacity: 0;
        }
      }
    }

    &__prev {
      text-align: left;

      @include breakpoint(medium) {
        left: rem-calc(15);
      }

      @include breakpoint(small down) {
        display: none!important;
      }
    }

    &__next {
      text-align: right;

      @include breakpoint(medium) {
        right: rem-calc(15);
      }

      @include breakpoint(small down) {
        display: none!important;
      }
    }

    &.on-video {
      .product-view__carousel__wrapper {
        border: 1px solid $body-background;
      }
    }
  }

  &__thumbs {
    + .product-view__carousel {
      @include breakpoint(medium) {
        margin-left: rem-calc(118);
      }

      .product-view__carousel__prev, .product-view__carousel__next {
        display: block;
      }
    }

    .mCSB_scrollTools {
      opacity: 1;
      width: rem-calc(18);

      .mCSB_draggerRail {
        width: rem-calc(1);
      }
    }

    .mCSB_outside + .mCSB_scrollTools {
      right: rem-calc(-18);
    }

    .mCS-rounded.mCSB_scrollTools {
      .mCSB_dragger {
        height: rem-calc(7);

        .mCSB_dragger_bar {
          background: $primary-color;
          border-radius: 50%;
          margin: 0 auto;
          width: rem-calc(7);
        }
      }

      .mCSB_draggerRail {
        background: $light-gray;
      }
    }

    @include breakpoint(medium) {
      float: left;
      max-height: 100%;
      overflow: hidden;
      position: relative;
      right: auto;
      width: rem-calc(100);

      &:hover {
        a {
          opacity: .5;
        }
      }
    }

    @include breakpoint(small down) {
      bottom: 0;
      height: rem-calc(62);
      left: 0;
      overflow: hidden;
      padding: rem-calc(0 10);
      position: absolute;
      right: 0;
      z-index: 2;
    }

    &__wrapper {
      box-sizing: content-box;
      height: 100%;
      position: relative;
      width: 100%;
      z-index: 1;

      @include breakpoint(medium) {
        display: block;
      }

      @include breakpoint(small down) {
        display: flex;
        transition-property: transform;
        transform: translate3d(0, 0, 0);
      }
    }

    &__item {
      background: $white;
      box-sizing: border-box;

      @include breakpoint(medium) {
        margin-bottom: rem-calc(8);
        padding-top: 100%;
        position: relative;

        &:last-child {
          margin-bottom: 0;
        }
      }

      @include breakpoint(small down) {
        margin-right: rem-calc(10);

        &:last-child {
          margin-right: 0;
        }
      }

      &:first-child {
        img {
          max-height: 80%;
          max-width: 80%;
        }
      }

      &.video {
        //> a {
        //  &:before {
        //    $size: 50px;
        //
        //    background: url("../img/icons/play.png") no-repeat center;
        //    content: '';
        //    background-size: contain;
        //    height: rem-calc($size);
        //    top: 50%;
        //    transform: translateX(-50%) translateY(-50%);
        //    width: rem-calc($size);
        //  }
        //
        //  &:after {
        //    background-color: rgba($black, .5);
        //    content: '';
        //    display: block;
        //    left: 0;
        //    top: 0;
        //    height: 100%;
        //    position: absolute;
        //    width: 100%;
        //    z-index: 0;
        //  }
        //
        //  &.active {
        //    &:before {
        //      opacity: 0;
        //    }
        //
        //    &:after {
        //      background-color: rgba($black, 0);
        //    }
        //  }
        //}
      }

      a {
        display: block;
        outline: none;
        border: rem-calc(1) solid rgba(0,0,0,0.04);

        @include breakpoint(medium) {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;

          &:hover {
            opacity: 1;
          }
        }

        @include breakpoint(small down) {
          height: rem-calc(60);
          position: relative;
          width: rem-calc(60);
        }

        &.active {
          border-color: rgba(0,0,0,0.3);
        }
      }

      img {
        left: 50%;
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }

  &__tags, &__categories {
    a {
      color: $body-font-color;

      &:hover {
        @include breakpoint(medium) {
          color: $anchor-color;
        }
      }
    }
  }

  .variations_form {
    position: relative;
  }

  .variations {
    margin: rem-calc(0 0 25);
    position: relative;

    @include breakpoint(medium) {
      margin: rem-calc(-10 0 25);
    }

    .reset_variations {
      color: $primary-color;
      font-size: rem-calc(12);
      position: absolute;
      top: rem-calc(-20);

      @include breakpoint(medium) {
        left: 0;
      }

      @include breakpoint(small down) {
        right: 0;
      }

      &:hover {
        @include breakpoint(medium) {
          text-decoration: underline;
        }
      }
    }
  }

  .view__body {
    @include breakpoint(medium) {
      padding: rem-calc(16 0 0);
    }
  }

  .view__footer {
    @include breakpoint(medium) {
      margin: rem-calc(70 0 -30);
    }
  }

  .product__wishlist {
    display: inline-block;
    position: static;

    @include breakpoint(medium) {
      margin-right: rem-calc(7);
    }

    a {
      @extend .button;

      background: $light-gray !important;
      color: $white;
      font-family: 'Stem';
      margin: 0;
      min-width: rem-calc(150);
      padding-left: rem-calc(14);
      padding-right: rem-calc(14);
      display: inline-flex;
      flex-direction: row-reverse;
      justify-content: center;
      max-height: 2.5rem;

      &:before {
        color: $white;
        font-family: 'icon';
        font-size: rem-calc(20);
        position: absolute;
        top: 50%;
        right: rem-calc(14);
        transform: translateY(-50%);
      }

      svg {
        width: rem-calc(16);
        height: rem-calc(16);
        margin-left: rem-calc(6);

        path {
          fill: #ffffff;
        }
      }

      &:after {
        content: 'Wishlist';
        font-family: "Stem";
      }

      &:hover {
        @include breakpoint(medium) {
          background: darken($light-gray, 5%) !important;
        }
      }

      &.added-to-wishlist {
        background: lighten($light-gray, 10%) !important;

        svg path {
          fill: $primary-color;
        }
      }
    }

    .ajax-loading {
      display: none;
    }
  }

  .jssocials-share-link {
    color: $light-gray;
    font-size: rem-calc(20);
  }

  .form-field {
    padding: rem-calc(10 0 5);
  }

  .stock {
    display: none;
  }
}