.quantity {
  position: relative;

  @include breakpoint(medium) {
    text-align: center;
  }

  @include breakpoint(small down) {
    text-align: right;
  }

  &__up, &__down {
    border-left: rem-calc(8) solid transparent;
    border-right: rem-calc(8) solid transparent;
    display: block;
    position: absolute;
    left: 50%;

    @include breakpoint(small down) {
      left: auto;
      right: 0;
    }
  }

  &__up {
    border-bottom: rem-calc(8) solid $black;
    bottom: 100%;
    transform: translateX(-50%) translateY(rem-calc(-5));

    @include breakpoint(small down) {
      transform: translateY(rem-calc(-5));
    }

    &.disabled {
      border-bottom: rem-calc(8) solid #B2B2B2;
      pointer-events: none;
    }
  }

  &__down {
    border-top: rem-calc(8) solid $black;
    top: 100%;
    transform: translateX(-50%) translateY(rem-calc(5));

    @include breakpoint(small down) {
      transform: translateY(rem-calc(5));
    }

    &.disabled {
      border-top: rem-calc(8) solid #B2B2B2;
      pointer-events: none;
    }
  }

  input {
    border: none !important;
    display: inline-block;
    font-size: rem-calc(14);
    height: auto;
    margin: 0 auto;
    padding: rem-calc(5);
    width: rem-calc(50);

    @include breakpoint(medium) {
      text-align: center;
    }

    @include breakpoint(small down) {
      text-align: right;
    }
  }
}