.shop-view {
  .view__header, .view__footer {
    align-items: center;
    background: $white;
    display: flex;
    justify-content: space-between;

    @include breakpoint(medium) {
      padding: rem-calc(15.5 20);
    }

    @include breakpoint(small down) {
      padding: rem-calc(16 20);
    }
  }

  .view__header {
    + .view__body {
      @include breakpoint(medium) {
        padding-top: rem-calc(40);
      }
    }
  }

  .view__body {
    @include breakpoint(medium) {
      padding: rem-calc(20 0 0);
    }
  }

  .view__footer {
    @include breakpoint(small down) {
      margin-left: rem-calc(-10);
      margin-right: rem-calc(-10);
    }
  }
}