// =============================================================================
// SHOPFRONT (CSS)
// =============================================================================

.shopfront {
  &__group {
    &--shipping {
      .small-12 {
        @include breakpoint(small down) {
          order: 2;
        }
      }
    }
  }
}