// =============================================================================
// CART (CSS)
// =============================================================================

table.cart {
  .product-thumbnail, .product-quantity, .product-remove {
    text-align: center;
  }

  .product-thumbnail {
    @include breakpoint(medium) {
      width: rem-calc(138px);
    }

    @include breakpoint(small down) {
      float: left;
      width: rem-calc(95);
    }
  }

  .product-name {
    .product-card__brand {
      margin-top: rem-calc(8);
      margin-bottom: rem-calc(8);
    }

    @include breakpoint(small down) {
      margin-left: rem-calc(105);
      margin-right: rem-calc(40);
    }
  }

  .product-price {
    @include breakpoint(small down) {
      display: none;
    }
  }

  .product-quantity {
    @include breakpoint(small down) {
      bottom: rem-calc(25);
      position: absolute;
      right: rem-calc(10);
    }
  }

  .product-subtotal {
    @include breakpoint(small down) {
      margin-left: rem-calc(105);
      margin-right: rem-calc(40);
    }
  }

  .product-remove {
    @include breakpoint(small down) {
      position: absolute;
      right: rem-calc(10);
      top: 0;
    }
  }
}

.cart_totals {
  table {
    font-size: rem-calc(14);

    @include breakpoint(medium) {
      width: auto;
    }

    @include breakpoint(small down) {
      width: 100%;
    }

    thead, tbody, tfoot {
      background: none;

      th, td {
        padding: rem-calc(9 20);
      }

      th {
        font-weight: normal;
        text-align: left;
        padding-left: 0;

        @include breakpoint(medium) {
          min-width: rem-calc(330);
        }
      }
    }

    .order-total {
      color: $black;

      @include breakpoint(medium) {
        font-size: rem-calc(30);
      }

      @include breakpoint(small down) {
        font-size: rem-calc(18);
      }

      th, td {
        font-weight: bold;
      }
    }
  }
}
