// =============================================================================
// CART VIEW (CSS)
// =============================================================================

.cart-view {
  &__continue {
    margin: 0;

    @include breakpoint(medium) {
      position: absolute;
      top: 50%;
      right: 0;
      text-transform: none;
      transform: translateY(-50%);
    }
  }

  &__coupon {
    max-height: 0;
    pointer-events: none;
    overflow: hidden;
    transition: all .5s linear;

    @include breakpoint(medium) {
      width: 30%;
    }

    &.expanded {
      max-height: rem-calc(500);
      pointer-events: initial;
    }

    &-trigger {
      color: $primary-color;
      display: inline-block;
      margin-bottom: rem-calc(16);

      @include breakpoint(small down) {
        font-size: .875rem;
      }
    }
  }

  &__actions {
    position: relative;

    .cart-view__update-cart {
      position: absolute;
      right: 0;

      @include breakpoint(medium) {
        top: 0;
      }

      @include breakpoint(small down) {
        background: none !important;
        border: none;
        color: $anchor-color;
        font-weight: normal;
        line-height: 1.142857143;
        margin: 0;
        padding: 0;
        text-transform: none;
        top: rem-calc(2);
      }
    }
  }

  .cart-collaterals {
    margin-top: rem-calc(10);
  }
}