#cwpac {
    font-size:100%;
}
.cwpac-table-scroll {
    overflow-x: auto;
}
.cwpac-table-scroll table {
    width: 100%;
}
.cwpac-shop_table {
    display: block;
    margin: 0 0 0.625rem;
}
.cwpac-shop_table tr {
    background: #ffffff;
    display: block;
    margin-bottom: 1.25rem;
    overflow: hidden;
    position: relative;
    padding: 0.625rem;
}
table.cwpac-cart .cwpac-product-thumbnail {
    float: left;
    width: 5.9375rem;
}
table.cwpac-cart .cwpac-product-thumbnail, table.cart .product-quantity, table.cart .product-remove {
    text-align: center;
    background-color: white;
}
table.cwpac-cart .cwpac-product-name {
    margin-left: 6.5625rem;
    margin-right: 2.5rem;
}
.cwpac-shop_table th, .cwpac-shop_table td {
    display: block;
    padding: 0;
}
table.cwpac-cart .cwpac-product-price {
    display: none;
}
table.cwpac-cart .cwpac-product-quantity {
    bottom: 1.5625rem;
    position: absolute;
    right: 0.625rem;
}
table.cwpac-cart .cwpac-product-thumbnail, table.cwpac-cart .cwpac-product-quantity, table.cwpac-cart .cwpac-product-remove {
    text-align: center;
    background-color: white;
}
table.cwpac-cart .cwpac-product-subtotal {
    margin-left: 6.5625rem;
    margin-right: 2.5rem;
}
table.cwpac-cart .cwpac-product-remove {
    position: absolute;
    right: 0.625rem;
    top: 0;
}
table.cwpac-cart .cwpac-product-remove {
    text-align: center;
    background-color: white;
}




