// =============================================================================
// GRID (CSS)
// =============================================================================

.row {
  &.small-collapse {
    &.medium-uncollapse {
      .row {
        @include breakpoint(small down) {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}