// =============================================================================
// TABLE (CSS)
// =============================================================================

table {
  border-collapse: separate;
  border-spacing: rem-calc(0 5);
  margin: rem-calc(-5 0 26);

  .table-scroll & {
    width: 100%;
  }

  article & {
    @include breakpoint(small down) {
      margin-bottom: 0;
    }
  }

  thead {
    th, td {
      border-bottom: rem-calc(1) solid $light-gray;
      color: $primary-color;
      font-weight: normal;
      text-transform: uppercase;
    }
  }

  thead, tfoot {
    th, td {
      article & {
        @include breakpoint(small down) {
          padding: rem-calc(8 15);
        }
      }
    }
  }

  tbody {
    th, td {
      article & {
        @include breakpoint(small down) {
          padding: rem-calc(8 15);
        }
      }
    }
  }

  &.hover {
    thead {
      tr {
        &:hover {
          background: $white;
          color: $body-font-color;
        }
      }
    }

    tr {
      &:hover {
        color: $white;
      }
    }
  }

  &.develop {
    border-collapse: separate;
    font-size: 14px;

    @include breakpoint(medium) {

      border-spacing: rem-calc(0 20);
      margin: rem-calc(-20 0 10);
    }

    @include breakpoint(small down) {
      border-spacing: rem-calc(0 10);
      margin: rem-calc(-10 0 5);
    }



    thead, tfoot {
      th, td {
        border-bottom: none;
        color: $body-font-color;
        padding: rem-calc(15 20);
        text-transform: none;
      }
    }

    thead {
      border-bottom: none;
    }

    th, td {
      background: $white;
      padding: rem-calc(11 20);
    }

    th, td {
      line-height: 1.2;

      p {
        margin-bottom: .5em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

article {
  .table-scroll {
    @include breakpoint(small down) {
      margin-left: rem-calc(-15);
      margin-right: rem-calc(-15);
    }
  }
}