// =============================================================================
// LIKES (CSS)
// =============================================================================

/* Wrapper */
.sl-wrapper {
  display: inline-block;
  position: relative;
}

.sl-wrapper a {
  border-bottom: 0 !important;
  color: $alert-color;
  text-decoration: none !important;
  outline: none;
}

.sl-button {

}

/* Colors */
a.liked {

}

a.liked:hover,
a.liked:active,
a.liked:focus {

}

a.liked span.sl-count,
.sl-count {
  color: #666666;
}

/* Icon */
.sl-icon {
  display: inline-block;
  line-height: .7;
  vertical-align: middle;
}

.sl-icon svg {
  fill: currentColor;
  width: 1em;
  height: 1em;
}

.sl-icon svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}

/* Count */
.sl-count {
  display: inline-block;
  margin-left: rem-calc(10);
  text-transform: uppercase;
  vertical-align: middle;
}

/* Loader */
#sl-loader {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(rem-calc(-20)) translateY(-60%);
}

.loader,
.loader:before,
.loader:after {
  background: rgba(0, 0, 0, 0.2);
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: .2em;
  height: .6em;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -.375em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader {
  text-indent: -9999em;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  font-size: 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:after {
  left: .375em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 rgba(0, 0, 0, 0.2);
    height: .6em;
  }
  40% {
    box-shadow: 0 -.3em rgba(0, 0, 0, 0.2);
    height: 1em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 rgba(0, 0, 0, 0.2);
    height: .6em;
  }
  40% {
    box-shadow: 0 -.3em rgba(0, 0, 0, 0.2);
    height: 1em;
  }
}