.newsletter {
  .sendgrid_widget_text {
    width: rem-calc(185);
    margin: 0 auto rem-calc(20);
    font-size: rem-calc(18);
    line-height: 1.44444;
    font-weight: 600;

    @include breakpoint(medium) {
      margin-bottom: rem-calc(37);
    }
  }

  form {
    position: relative;

    label {
      display: none;
    }
  }

  input:not([type="submit"]) {
    background: none;
    box-shadow: none;
    border: rem-calc(1) solid transparent;
    border-bottom-color: $black;
    font-size: rem-calc(14);
    height: auto;
    margin: 0 auto;
    padding: rem-calc(5 0);
  }

  input::-webkit-input-placeholder {
    color: $black;
    opacity: 1;
  }

  input::-moz-placeholder {
    color: $black;
    opacity: 1;
  }

  .button {
    background: url("../img/icons/mail.png") no-repeat center;
    background-size: cover;
    height: rem-calc(16);
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 0;
    text-indent: -9999px;
    transform: translateY(-50%);
    width: rem-calc(22);
  }
}
