// =============================================================================
// WISHLIST VIEW (CSS)
// =============================================================================

.wishlist-view {
  .view__title {
    color: #ff0000;

    @include breakpoint(small down) {
      text-align: center;
    }
  }
}

.wishlist-empty {
  color: $body-font-color;
}