.page__login__main {

  margin: 0 auto;

  &__form {
    padding: 40px;
    background-color: #fff;
    padding: 40px;
    border: solid 1px #f0f0f0;

    &__forgot-passwd, &__forgot-passwd a {
      line-height: 0;
      font-family: "Proxima Nova", Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
      font-size: 13px;
      color: #000;
    }

    &__forgot-passwd {
      padding: 25px 0;
    }

  }

  &__form label {
    line-height: 11px;
    font-family: "Proxima Nova", Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 10px;
    font-weight: 600;
    /* text-transform: uppercase; */
    color: #b9c5d0;
  }

  &__form input.input {
    line-height: 26px;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 600;
    color: #000;
    border-bottom: #e2e9f0 solid 1px;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 320px;

    @include breakpoint(small down) {
      width:100%;
    }

  }

  &__form p.submit {

    margin:0;

    @include breakpoint(small down) {
      text-align:center;
    }

  }

  &__form input.button-primary {
    width: 321px;
  }

}