// =============================================================================
// CHECKOUT VIEW (CSS)
// =============================================================================

.checkout-view {
  .form-row {
    @extend .column;

    @include breakpoint(medium) {
      float: left;
      width: 50%;
    }
  }
}

#billing_email_field, #billing_address_1_field, #billing_city_field, #billing_postcode_field {
  clear: left;
}

#customer_details {
  margin-bottom: rem-calc(20);
}

#account_password_field {
  padding-left: 0;
  padding-right: 0;
}

#billing_address_2 {
  @include breakpoint(medium) {
    margin-top: rem-calc(30);
  }
}