.page__product__main {
  /*
  product list {
  */
  table {
    width: 100%;
    margin:0;
    padding:0;
    word-wrap: break-word;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    boder: 0;
    th {
      text-align: left;
    }
    td {
      height:25px;
      padding-right: 7px;
      padding-left: 7px;
      .button-primary {
        display: inline-block;
        text-align: center;
        height: 11px;
        padding: 7px;
      }
      .action_remove {
        background-color: #d0011b;
      }
      .size_is_null {
        color: #c30016;
      }
    }
    th.with_arrow>span{
      display: inline-block;
      width: 7px;
      height: 4px;
      background: url($p_images + 'ico/th_arrow_down.png') right 0 top 0 no-repeat #000;
      padding-left: 6px;
    }
    th.col01, td.col01 {
      text-align: center;
      width: 78px;
      min-width: 78px;
    }
    th.col02, td.col02 {
      text-align:center;
      width: 132px;
      min-width: 132px;
    }
    th.col03, td.col03 {
      min-width: 300px;
      width:40%;
    }
    th.col04, td.col04 {
      min-width: 206px;
    }
    th.col05, td.col05 {
      width:96px;
      padding-left: 10px;
      padding-right: 10px;
    }
    th.col06, td.col06 {
      text-align: center;
      width: 100px;
      min-width: 100px;
    }
    th.col07, td.col07 {
      text-align: center;
      width: 100px;
      min-width: 100px;
    }
    tr:nth-child(even) {
      background-color: #f4f6f9;
      table td {
        background-color: #f4f6f9;
      }
    }
    tr:nth-child(odd) {
      background-color: #fff;
      table td {
        background-color: #fff;
      }
    }
    td p {
      font-family: "Proxima Nova", Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #000;
      span.descr {
        width:100%;
        font-family: "Proxima Nova", Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #b9c5d0;
        display: block;
      }
    }
    td.col01 {
      text-align: center;
    }
    td.col02 {
      .thumb_container {
        width: 96px;
        height: 96px;
        padding: 8px 17px;
        border: 1px solid #e3eaf1;
        border-radius: 2px;
        background-color: #fff;
        margin: 10px 0 8px 0;
      }
      text-align: center;
    }
    td.col03 {
      padding-left: 23px;
      padding-right: 23px;
      .descr {
        margin-top:9px;
      }
    }
    td.col04 {
      .width70 {
        width: 70px;
      }
      p {
        margin: 5px;
      }
    }
    td.col05 {
    }
    td.col06 {
      text-align: center;
    }
    .composition, .care {
      text-align: left;
      font-family: "Proxima Nova", Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
      font-weight: 600;
      font-size: 12px;
      color: #bac5d1;
    }
    .last-note {
      text-align: left;
      font-family: "Proxima Nova", Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #bac5d1;
    }
    .pending {
      color: #f5a623;
      p {
        color: #f5a623;
      }
    }
    .featured {
      color: #417505;
      p {
        color: #417505;
      }
    }
    .approved {
      color: #4a90e2;
      p {
        color: #4a90e2;
      }
    }
    .published {
      color: #417505;
      p {
        color: #417505;
      }
    }
    .out_of_stock {
      color: #d0021b;
      p {
        color: #d0021b;
      }
    }
    .error {
      color: #e9132e;
      p {
        color: #e9132e;
      }
    }
  }
  table tr {
    text-align: center;
    font-family: "Proxima Nova", Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: #fff;
  }
  table th {
    height:42px;
    font-family: "Proxima Nova", Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: #fff;
    background-color: #000;
  }
  table th, table td {
    padding: 0;
    margin: 0;
  }
  table td {
    text-align: left;
  }

  /*** DISABLE pda table transform

  @include breakpoint(small down) {
    table {
      border: 0;
    }
    table thead {
      display: none;
    }
    table tr {
      margin-bottom: 10px;
      display: block;
    }
    table td {
      display: block;
      text-align: right;
      font-size: 13px;
      width: 100%;
    }
    table td:last-child {

    }
    table td:before {
      content: attr(data-label);
      float: left;
      display: block;
      padding: 0 8px;
    }
  }

       DISABLE pda table transform ***/

  /*
  } product list
  */
}

/*
modal product {
*/
#tb-product__modal {
  .modal__product {
    padding: 90px 40px;
    &__thumb-container {
      padding: 89px 41px 88px 41px;
      border: solid 1px #e3eaf1;
      border-radius: 5px;
      margin-bottom: 10px;
    }
    &__btn {
      padding-top: 112px;
      display: inline-block;
      text-align: center;
      width: 100%;
      .button-primary {
        display: block;
        width: 284px;
        height: 30px;
        padding-top: 15px;
        border: 1px solid #000;
        border-radius: 2px;
        font-family: "Proxima Nova",Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
        font-size: 12px;
        font-weight: 600;
        text-decoration: none;
      }
      .white {
        background-color: #fff;
        color: #000;
      }
      .black {
        margin-left: 10px;
        background-color: #000;
        color: #fff;
      }
    }
    &__diment {
      >div {
        padding-bottom: 20px;
      }
      &__type {
        width: 30px;
        height: 30px;
        background: url($p_images + 'media/size_circle_bg.png') left 0 top 0 no-repeat #fff;
        color: #fff;
        padding-top: 8px;
        padding-left: 10px;
        font-family: "Proxima Nova";
        font-size: 12px;
        font-weight: 700;
        font-style: Extrabold;
        text-transform: uppercase;
      }
      label {
        display: block;
        line-height: 11px;
        font-family: "Proxima Nova", Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
        font-size: 10px;
        font-weight: 600;
        color: #b9c5d0;
      }
      input {
        line-height: 26px;
        font-family: "Proxima Nova";
        font-size: 14px;
        font-weight: 600;
        color: #000;
        border-bottom: #000000 solid 1px;
        border-top: none;
        border-right: none;
        border-left: none;
        width: 544px;
      }
      input:disabled {
        background-color: #fff;
      }
    }
    &__input-container {
      label {
        line-height: 11px;
        font-family: "Proxima Nova", Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
        font-size: 10px;
        font-weight: 600;
        color: #b9c5d0;
      }
      input {
        line-height: 26px;
        font-family: "Proxima Nova";
        font-size: 14px;
        font-weight: 600;
        color: #000;
        border-bottom: #000 solid 1px;
        border-top: none;
        border-right: none;
        border-left: none;
      }
      textarea {
        line-height: 26px;
        font-family: "Proxima Nova";
        font-size: 14px;
        font-weight: 600;
        color: #000;
        border-bottom: #000 solid 1px;
        border-top: none;
        border-right: none;
        border-left: none;
      }
      padding-left: 32px;
      input:disabled {
        background-color: #fff;
      }
      textarea:disabled {
        background-color: #fff;
        overflow: hidden;
      }
      &__value {
        label {
          line-height: 11px;
          font-family: "Proxima Nova", Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
          font-size: 10px;
          font-weight: 600;
          color: #b9c5d0;
        }
        input {
          width: 370px;
        }
        textarea {
          width: 370px;
        }
      }
      &__descr {
        label {
          line-height: 11px;
          font-family: "Proxima Nova", Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
          font-size: 10px;
          font-weight: 600;
          color: #b9c5d0;
        }
        input {
          width: 370px;
        }
        textarea {
          width: 370px;
        }
      }
    }
  }
}


/*
tb modal {
 */
#TB_closeAjaxWindow>.tb-close-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url($p_images + 'ico/tb_modal_close.png') right 0 top 0 no-repeat #000;
}

#TB_window a:active, #TB_window a:focus, #TB_window a:link, #TB_window a:visited {
  color: #fff;
}
/*
} tb modal
*/

