.page__footer {
  color: $black;
  font-size: rem-calc(14);
  padding-top: rem-calc(50);

  body:not(.home) & {
    @include breakpoint(small down) {
      padding-top: 0;
    }
  }

  .container {
    > .row {
      position: relative;

      @include breakpoint(medium) {
        padding: rem-calc(45 0 80);
      }

      @include breakpoint(small down) {
        padding: rem-calc(45 0 40);
      }

      body:not(.home) & {
        @include breakpoint(small down) {
          padding: rem-calc(0 0 30);
        }
      }

      &:before {
        body.home & {
          content: '';
          border-top: rem-calc(1) solid $light-gray;
          display: block;
          left: rem-calc(10);
          right: rem-calc(10);
          position: absolute;
          top: 0;
        }
      }

      > .column {
        @include breakpoint(medium) {
          &:first-child {
            order: 2;
          }

          &:nth-child(2) {
            order: 1;
          }

          &:last-child {
            order: 0;
          }
        }
      }

      > .medium-3:first-child {
        @include breakpoint(medium) {
          padding-top: rem-calc(5);
        }
      }

      .medium-3:first-child + .medium-6 {
        @include breakpoint(medium) {
          padding-top: rem-calc(32);
        }
      }
    }
  }

  &__logo {
    margin-bottom: rem-calc(25);

    body:not(.home) & {
      @include breakpoint(small down) {
        margin-bottom: rem-calc(15);
      }
    }

    @include breakpoint(medium) {
      float: left;
    }

    @include breakpoint(small down) {
      margin-top: rem-calc(50);
    }

    .logo {
      @include breakpoint(small down) {
        margin: 0 auto;
      }

      img {
        @include breakpoint(small down) {
          margin: 0 auto;
        }

        body:not(.home) & {
          @include breakpoint(small down) {
            width: rem-calc(125);
          }
        }
      }
    }
  }

  &__social-links {
    display: none;

    @include breakpoint(medium up) {
      position: fixed;
      top: 50vh;
      left: 50%;
      margin-left: - $grid-row-width / 2 - 3.5rem;
      transform: translateY(-60%);

      .home & {
        display: block;
      }
    }

    .social-links {
      &__title {
        font-size: rem-calc(14);
        left: 50%;
        position: absolute;
        top: 100%;
        transform-origin: 50% 50%;
        transform: translateX(-50%) translateY(60px) rotate(-90deg);
        white-space: nowrap;
      }

      li {
        float: none;
        height: rem-calc(40);
        margin-left: 0;
        margin-bottom: rem-calc(40);
        width: rem-calc(40);

        &:before {
          color: $black;
          font-size: rem-calc(24);
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__menu {
    h4 {
      font-family: "Stem";
      font-size: rem-calc(14);
      margin-bottom: rem-calc(20);
      text-transform: uppercase;
    }

    .menu {
      font-size: rem-calc(14);

      li {
        float: none;
        list-style: none;
        margin-bottom: rem-calc(7);
        text-transform: none;

        &:last-child {
          margin-bottom: 0;
        }

        &.current-menu-item {
          a {
            color: #ffcccc;
          }
        }
      }

      a {
        border-bottom: 0;
        color: $black;

        &:hover {
          @include breakpoint(medium) {
            color: #ffcccc;
          }
        }
      }
    }
  }

  &__copyright {
    clear: both;
    color: #9ca7ba;
    font-size: rem-calc(14);

    @include breakpoint(small down) {
      text-align: center;
    }

    .copy {
      position: relative;
      top: rem-calc(-2);
    }
  }

  .newsletter {
    body:not(.home) & {
      @include breakpoint(small down) {
        display: none;
      }
    }

    + .page__footer__menu {
      @include breakpoint(medium) {
        margin-top: rem-calc(41);
      }

      a {
        color: $black;

        &:hover {
          @include breakpoint(medium) {
            color: #ffcccc;
          }
        }
      }
    }
  }

  p {
    margin: 0;

    @include breakpoint(medium) {
      line-height: 1;
    }
  }
}
