// =============================================================================
// SWITCH (CSS)
// =============================================================================

.switch-input {
  &:checked {
    ~ .switch-paddle {
      background: url($p_images + 'icons/check.png') no-repeat -20px 0;
      background-size: 40px 20px;
    }

    ~ .switch-label {
      color: #000000;
    }
  }

  + .switch-paddle {
    vertical-align: middle;
  }
}

.switch-paddle {
  background: url($p_images + 'icons/check.png') no-repeat 0 0;
  width: 20px;
  height: 20px;
  background-size: 40px 20px;

  &:after {
    display: none;
  }

  + .switch-label {
    display: inline-block;
    margin-left: rem-calc(7);
    vertical-align: middle;
  }
}