// =============================================================================
// COMMON (Settings)
// =============================================================================

$common-color-ice-cold: #98EBDF;
$common-color-blue-chalk: #E3CEEC;
$common-color-charlotte: #9BD7EC;
$common-color-sundown: #EEA8A8;
$common-color-splash: #F5DA9E;
$common-color-granny-apple: #BEF1C5;
