.page__login__header {
  position: relative;
  text-align: center;
  padding: 80px 0;
  &__vendor-dashboard {
    font-family: "Gotham Pro", Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #6b6c6d;
    padding-top: 15px;
  }
  &__logo img {
    width: 256px;
    height: 66px;
  }
}

.page__inventory__header {
  &__logo {
    padding-left: 30px;
    padding-right: 30px;
    height: 80px;
    background-color: #000;
    clear: both;
    a.logo {
      padding-top: 21px;
      float: left;
    }
    img {
      width: 153px;
      height: 40px;
    }
  }
  &__logout-action {
    padding-top: 47px;
    float: right;
    ul, li {
      display: inline;
    }
    li {
      padding-left: 15px;
      a {
        line-height: 11px;
        font-family: "Proxima Nova", Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
        font-size: 12px;
        color: #fff;
        text-decoration: none;
        font-weight: 400;
      }
      .logout_link {
        color: #6a7186;
      }
    }
  }
  &__menu-action {
    padding-top: 45px;
    float: left;
    ul, li {
      margin: 0;
      padding: 0;
      display: inline;
    }
    li {
      padding-left: 34px;
      a {
        line-height: 11px;
        font-family: "Proxima Nova", Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
        font-size: 12px;
        color: #fff;
        text-decoration: none;
        font-weight: 400;
      }
    }
    #menu-vendor-dashboard-logout {
      float: right;
    }
  }
  &__bottom {
    clear: both;
    height: 85px;
    border-bottom: solid 1px #d9dfe6;
    padding-left: 30px;
    padding-right: 30px;
    &__title {
      float: left;
      font-family: "Proxima Nova", Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
      font-size: 22px;
      color: #000;
      font-weight: 700;
      padding-top: 30px;
    }
    &__upload {
      float: right;
      padding-top: 22px;
      padding-left: 19px;
      .button-primary {
        padding-left: 25px;
        padding-right: 25px;
      }
    }
    &__search {
      float: right;
      padding-top: 22px;
      input.search {
        width: 301px;
        height: 40px;
        font-family: "Proxima Nova", Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
        font-size: 16px;
        color: #000;
        font-weight: 400;
        border: solid 1px #e2e9f0;
        border-radius: 2px;
        padding-left: 15px;
        background: url($p_images + 'ico/shape.png') right 13px top 14px no-repeat;
      }
    }
  }
}