@import '../../settings/foundation/foundation';

@mixin toastr($color-alias) {
  background-color: #ffffff;
  color: map-get($foundation-palette, $color-alias);
  border: 1px solid map-get($foundation-palette, $color-alias);
  opacity: 1;

  a {
    color: map-get($foundation-palette, $color-alias);
  }

  button.toast-close-button {
    color: map-get($foundation-palette, $color-alias);
  }
}

#toast-container {
  & > div {
    border-radius: 0;
    box-shadow: none;
    padding-left: 15px;

    a {
      text-decoration: underline;
    }

    &:hover {
      box-shadow: none;
    }

    &.toast-success {
      @include toastr(success);
    }

    &.toast-error {
      @include toastr(alert);
    }
  }
}