// =============================================================================
// PAGINATION (Settings)
// =============================================================================

$pagination-border-color: #E8EBF1;
$pagination-background-color: lighten($pagination-border-color, 6%);
$pagination-item-prev-span-color: #CACACA;
$pagination-item-next-span-color: $pagination-item-prev-span-color;
$pagination-item-link-color: $black;
$pagination-item-link-active-color: $pagination-item-prev-span-color;
