.box {
  position: relative;

  &--h50 {
    @include breakpoint(medium) {
      padding-top: 50%;
    }
  }

  &--h100 {
    @include breakpoint(medium) {
      padding-top: 100%;
    }
  }

  &--h110 {
    @include breakpoint(medium) {
      padding-top: 110%;
    }
  }

  &--h120 {
    @include breakpoint(medium) {
      padding-top: 120%;
    }
  }

  &--small-h140,
  &--small-h145,
  &--small-h165 {
    @include breakpoint(small down) {
      .box__inner {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;

        > * {
          height: 100%;
        }
      }
    }
  }

  &--small-h140 {
    @include breakpoint(small down) {
      padding-top: 140%;
    }
  }

  &--small-h145 {
    @include breakpoint(small down) {
      padding-top: 145%;
    }
  }

  &--small-h165 {
    @include breakpoint(small down) {
      padding-top: 165%;
    }
  }

  &__inner {
    @include breakpoint(medium) {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      > * {
        height: 100%;
        position: relative;
      }
    }
  }
}
