.imp-shape, .imp-tooltip-buffer {
  cursor: pointer;
}

.imp-wrap {
  position: relative;
}

.hs-loader-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imp-wrap > img {
  position: relative !important;
  z-index: 0 !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  max-width: none !important;
  max-height: none !important;
}

.hs-arrow, .imp-shape-container, .imp-shape-oval, .imp-shape-rect, .imp-shape-spot, .imp-tooltip, .imp-tooltip-buffer {
  position: absolute;
}

.imp-shape-container {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.imp-shape {
  opacity: 1 !important;
  pointer-events: all;
  transition: all 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  -moz-transition: all 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: all 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  &:before {
    $offset: -15px;

    border: rem-calc(1) solid darken($white, 10%);
    border-radius: rem-calc(2);
    bottom: rem-calc($offset);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    content: '';
    display: block;
    left: rem-calc($offset);
    position: absolute;
    opacity: 0;
    right: rem-calc($offset);
    top: rem-calc($offset);
    transition: all .15s linear;
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

.imp-shape-icon-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  transform: scale(1, 0.25);
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.53) 0, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.13) 28%, rgba(0, 0, 0, 0.04) 44%, rgba(0, 0, 0, 0) 67%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.53) 0, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.13) 28%, rgba(0, 0, 0, 0.04) 44%, rgba(0, 0, 0, 0) 67%, rgba(0, 0, 0, 0) 100%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.53) 0, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.13) 28%, rgba(0, 0, 0, 0.04) 44%, rgba(0, 0, 0, 0) 67%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87000000', endColorstr='#00000000', GradientType=1 );
}

.imp-shape img {
  width: 100%;
}

.hs-arrow {
  border: none !important;
}

.hs-arrow-bottom, .hs-arrow-top {
  left: 50%;
  margin-left: rem-calc(-6);
  width: rem-calc(12);
  height: rem-calc(12);

  &:before {
    content: '';
    display: block;
    left: 50%;
    margin-left: rem-calc(-6);
    position: absolute;
    border: none;
    height: 110%;
    width: 110%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: rotate(-55deg) skew(-22deg);
  }

  + .imp-tooltip-plain-text {
    &:after {
      border-left: rem-calc(6) solid transparent;
      border-right: rem-calc(6) solid transparent;
      left: 50%;
      margin-left: rem-calc(-6);
    }
  }
}

.hs-arrow-left, .hs-arrow-right {
  top: 50%;
  margin-top: rem-calc(-6);
  width: rem-calc(12);
  height: rem-calc(12);

  &:before {
    content: '';
    display: block;
    top: 50%;
    margin-top: rem-calc(-6);
    position: absolute;
    border: none;
    height: 110%;
    width: 110%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: rotate(-30deg) skew(25deg);
  }

  + .imp-tooltip-plain-text {
    &:after {
      border-top: rem-calc(6) solid transparent;
      border-bottom: rem-calc(6) solid transparent;
      top: 50%;
      margin-top: rem-calc(-6);
    }
  }
}

.imp-tooltip {
  z-index: 1;
  transition-property: none;
  -moz-transition-property: none;
  -webkit-transition-property: none;
  transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  -moz-transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  &.imp-tooltip-visible {
    opacity: 1 !important;
    z-index: 3;
    transform: scale(1, 1) !important;
    -moz-transform: scale(1, 1) !important;
    -webkit-transform: scale(1, 1) !important;
  }

  &-plain-text {
    @include breakpoint(medium) {
      position: relative;
    }

    @include breakpoint(small down) {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
    }
  }
}

.hs-arrow-top {
  bottom: 100%;

  &:before {
    bottom: rem-calc(-6);
  }

  + .imp-tooltip-plain-text {
    &:after {
      bottom: 100%;
      border-bottom: rem-calc(12) solid $white;
    }
  }
}

.hs-arrow-bottom {
  top: 100%;

  &:before {
    top: rem-calc(-6);
  }

  + .imp-tooltip-plain-text {
    &:after {
      top: 100%;
      border-top: rem-calc(12) solid $white;
    }
  }
}

.hs-arrow-left {
  right: 100%;

  &:before {
    right: rem-calc(-6);
  }

  &:after {
    border-top: rem-calc(12) solid $white;
  }

  + .imp-tooltip-plain-text {
    &:after {
      right: 100%;
      border-right: rem-calc(12) solid $white;
    }
  }
}

.hs-arrow-right {
  left: 100%;

  &:before {
    left: rem-calc(-6);
  }

  + .imp-tooltip-plain-text {
    &:after {
      left: 100%;
      border-left: rem-calc(12) solid $white;
    }
  }
}

.imp-tooltip-buffer-top {
  left: 0;
  top: -20px;
  width: 100%;
  height: 20px;
}

.imp-tooltip-buffer-bottom {
  left: 0;
  top: 100%;
  width: 100%;
  height: 20px;
}

.imp-tooltip-buffer-left {
  left: -20px;
  top: 0;
  width: 20px;
  height: 100%;
}

.imp-tooltip-buffer-right {
  left: 100%;
  top: 0;
  width: 20px;
  height: 100%;
}

.imp-tooltip-buffer-top.imp-tooltip-buffer-large {
  left: 0;
  top: -60px;
  width: 100%;
  height: 60px;
}

.imp-tooltip-buffer-bottom.imp-tooltip-buffer-large {
  left: 0;
  top: 100%;
  width: 100%;
  height: 60px;
}

.imp-tooltip-buffer-left.imp-tooltip-buffer-large {
  left: -60px;
  top: 0;
  width: 60px;
  height: 100%;
}

.imp-tooltip-buffer-right.imp-tooltip-buffer-large {
  left: 100%;
  top: 0;
  width: 60px;
  height: 100%;
}

.imp-fullscreen-tooltips-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: auto;
  z-index: 2147483647;

  .imp-fullscreen-tooltip {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition-property: none;
    -moz-transition-property: none;
    -webkit-transition-property: none;
    transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
    -moz-transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);

    &.imp-tooltip-visible {
      opacity: 1 !important;
      z-index: 3;
      transform: scale(1, 1) !important;
      -moz-transform: scale(1, 1) !important;
      -webkit-transform: scale(1, 1) !important;
    }

    .imp-tooltip-close-button {
      position: absolute;
      right: 0;
      top: 0;
      width: rem-calc(44);
      height: rem-calc(44);
      font-size: rem-calc(24);
      line-height: rem-calc(44);
      text-align: center;
      color: $black;
      cursor: pointer;
      z-index: 99;
    }
  }
}