// =============================================================================
// LOOK (CSS)
// =============================================================================

$medium-look-padding: 0;
$small-look-padding: 0;

.look {
  background: $white;
  border: 1px solid rgba(0, 0, 0, 0.04);
  text-align: center;

  @include breakpoint(medium) {
    margin-bottom: rem-calc(40);
  }

  @include breakpoint(small down) {
    margin-bottom: rem-calc(20);
    border-left: none;
    border-right: none;
  }

  header {
    position: relative;
    padding-top: 100%;
  }

  figure {
    margin: 0;
    position: absolute;

    @include breakpoint(medium) {
      bottom: rem-calc($medium-look-padding);
      left: rem-calc($medium-look-padding);
      top: rem-calc($medium-look-padding);
      right: rem-calc($medium-look-padding);
    }

    @include breakpoint(small down) {
      bottom: rem-calc($small-look-padding);
      left: rem-calc($small-look-padding);
      top: rem-calc($small-look-padding);
      right: rem-calc($small-look-padding);
    }

    a {
      height: 100%;
      display: block;
      position: relative;
    }

    img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      max-height: 100%;
      width: 100%;
    }
  }

  footer {
    @include breakpoint(medium) {
      font-size: rem-calc(48);
      padding: rem-calc(22 20 50);
    }

    @include breakpoint(small down) {
      font-size: rem-calc(24);
      padding: rem-calc(6 10 26);
    }

    > a, > span {
      color: $black;
      font-family: "Yefimov Serif";
      font-weight: bold;
      letter-spacing: .15em;
      line-height: 1;
      text-transform: uppercase;
    }
  }

  &__products {
    margin-top: rem-calc(20);

    @include breakpoint(medium) {
      margin-top: rem-calc(34);
    }

    &__list {
      margin: 0;
    }

    &__item {
      display: block;
      font-size: rem-calc(14);
      margin: rem-calc(0 0 12);
      padding-left: rem-calc(26);
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }

      @include breakpoint(medium) {
        display: inline-block;
        margin: rem-calc(0 20 0 0);
        padding-left: 0;
        vertical-align: top;
      }

      > * {
        display: inline-block;
        margin-left: 0.3em;
        vertical-align: middle;

        &:first-child {
          margin-left: 0;
        }
      }

      &__index {
        background: $anchor-color;
        border-radius: 50%;
        color: $white;
        display: inline-block;
        font-size: rem-calc(10);
        font-weight: 800;
        height: rem-calc(17);
        line-height: rem-calc(18);
        min-width: rem-calc(17);
        text-align: center;
        left: 0;
        position: absolute;
        top: rem-calc(2.5);

        @include breakpoint(medium) {
          left: auto;
          position: static;
          top: auto;
        }

        + * {
          @include breakpoint(small down) {
            margin-left: 0;
          }

          @include breakpoint(medium) {
            margin-left: rem-calc(8);
          }
        }
      }

      &__brand {
        font-weight: 700;

        a {
          color: $dark-gray !important;
        }
      }

      &__title {
        a {
          color: $dark-gray !important;
        }
      }

      &__price {
        color: $alert-color;
        font-weight: 600;
      }
    }
  }

  &__body {
    height: 100%;
  }

  &__footer {
    margin: rem-calc(5 20 20);

    @include breakpoint(medium) {
      bottom: 4.16667%;
      left: 5.55556%;
      position: absolute;
      right: 5.55556%;
    }
  }
}