// =============================================================================
// LOOK VIEW (CSS)
// =============================================================================

$medium-look-padding: 0;
$small-look-padding: 0;

.look-view {
  &__brand {
    color: #9ca7ba;
    font-size: rem-calc(18);
    font-weight: bold;
    line-height: 1.2;
    margin: rem-calc(0 0 2);
    text-transform: uppercase;

    a {
      color: #9ca7ba;

      @include breakpoint(medium) {
        &:hover {
          color: $anchor-color;
        }
      }
    }
  }

  &__media {
    background: $white;
    border: 1px solid rgba(0, 0, 0, 0.04);
    text-align: center;

    @include breakpoint(medium) {
      margin-bottom: rem-calc(50);
    }

    @include breakpoint(small down) {
      margin: rem-calc(0 -10 20);
      border-left: none;
      border-right: none;
    }

    header {
      position: relative;
      padding-top: 100%;
    }

    figure {
      margin: 0;
      position: absolute;

      @include breakpoint(medium) {
        bottom: rem-calc($medium-look-padding);
        left: rem-calc($medium-look-padding);
        top: rem-calc($medium-look-padding);
        right: rem-calc($medium-look-padding);
      }

      @include breakpoint(small down) {
        bottom: rem-calc($small-look-padding);
        left: rem-calc($small-look-padding);
        top: rem-calc($small-look-padding);
        right: rem-calc($small-look-padding);
      }

      > a {
        height: 100%;
        display: block;
        position: relative;
      }

      img {
        max-height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    footer {
      @include breakpoint(medium) {
        font-size: rem-calc(48);
        padding: rem-calc(22 20 41);
      }

      @include breakpoint(small down) {
        font-size: rem-calc(24);
        padding: rem-calc(6 10 26);
      }

      > a, > span {
        color: $black;
        font-family: "Yefimov Serif";
        font-weight: bold;
        letter-spacing: .15em;
        line-height: 1;
        text-transform: uppercase;
      }
    }
  }

  &__description {
    margin-bottom: rem-calc(18);

    &__title {
      color: #9ca7ba;
      font-family: "Yefimov Serif";
      font-size: rem-calc(12);
      font-weight: bold;
      letter-spacing: .1em;
      text-transform: uppercase;

      @include breakpoint(small down) {
        margin-bottom: rem-calc(7);
      }
    }

    &__text {
      font-size: rem-calc(14);
      height: 100%;

      p {
        @include breakpoint(medium) {
          line-height: 1.7;
        }
      }

      > p {
        &:last-child {
          margin-bottom: 0;
        }
      }

      &.is-truncated {
        p {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .jssocials {
    @include breakpoint(small down) {
      margin-bottom: rem-calc(40);
    }
  }

  .view__footer {
    @include breakpoint(medium) {
      margin: rem-calc(0 0 -10);
    }
  }
}
