// =============================================================================
// PRODUCT (Settings)
// =============================================================================

$product-brand-font-size: 12px;
$product-brand-color: #9ca7ba;
$product-title-font-size: 14px;
$product-title-color: #484848;

$product-label-height: 42px;
$product-label-font-size: 12px;
$product-label-new-background: #2C2F33;
$product-label-sale-background: #F3BC62;
