// =============================================================================
// FOOTER (Settings)
// =============================================================================

$header-top-height: 100px;

$footer-top-color: #767F8A;
$footer-top-background-color: #2C2F33;

$footer-bottom-color: #535A64;
$footer-bottom-background-color: #353B43;

$footer-menu-pages-background-color: #2F3339;
