.page__inventory__header__bottom {
  border-bottom: none;
}

.page__media__main {
  table {
    width:100%;
    border-collapse: collapse;
    tbody {
      td {
        width: 100%;
        height: 302px;
        margin:0;
        padding:0;
        word-wrap: break-word;
        border-collapse: collapse;
        border-spacing: 0;
        border: solid 1px #ececec;
        width:20%;
        text-align:center;
        .col_container {
          position: relative;
          display: inline-block;
        }
        img.corner {
          /* background: url($p_svg + 'corner.svg') right 0px top 0px no-repeat; */
          position: absolute;
          top: -2px;
          right: -2px;
          box-shadow: none;
        }
        img {
          box-shadow: 1px -0.5px 0.5px #ccc;
        }
      }
    }
  }
}