// =============================================================================
// PAGE VIEW (CSS)
// =============================================================================

$padding-top: 35px;
$padding-right: 50px;
$padding-bottom: 40px;
$padding-left: 50px;

.page-view {
  .view__body {
    $border-color: #D1D1D1;

    background: $white;
    border: rem-calc(1) solid $border-color;

    @include breakpoint(medium) {
      margin: rem-calc(40 0 20);
      padding: rem-calc($padding-top) rem-calc($padding-right) rem-calc($padding-bottom) rem-calc($padding-left);
    }

    @include breakpoint(small down) {
      padding: rem-calc(15);
    }

    .insertion {
      background: $body-background;
      border-bottom: rem-calc(1) solid $border-color;
      border-top: rem-calc(1) solid $border-color;


      @include breakpoint(medium) {
        margin-left: rem-calc(- $padding-left - 1);
        margin-right: rem-calc(- $padding-right - 1);
        margin-top: rem-calc($padding-bottom);
      }

      @include breakpoint(small down) {
        margin-left: rem-calc(-16);
        margin-right: rem-calc(-16);
        margin-top: rem-calc(20);
      }

      &:not(:last-child) {
        @include breakpoint(medium) {
          margin-bottom: rem-calc($padding-bottom);
        }

        @include breakpoint(small down) {
          margin-bottom: rem-calc(20);
        }
      }

      &:first-child {
        border-top: 0;

        @include breakpoint(medium) {
          margin-top: rem-calc(- $padding-top);
        }

        @include breakpoint(small down) {
          margin-top: rem-calc(-20);
        }

        .insertion__box {
          border-top: 0;
          margin-top: 0;
        }
      }

      &:last-child {
        border-bottom: 0;

        @include breakpoint(medium) {
          margin-bottom: rem-calc(- $padding-bottom);;
        }

        @include breakpoint(small down) {
          margin-bottom: rem-calc(-20);
        }

        .insertion__box {
          border-bottom: 0;
          margin-bottom: 0;
        }
      }

      + .insertion {
        @include breakpoint(medium) {
          margin-top: rem-calc(- $padding-bottom * 2 - 2);
        }

        @include breakpoint(small down) {
          margin-top: rem-calc(- 20 * 2 - 2);
        }
      }

      &__box {
        border: rem-calc(1) solid $border-color;

        @include breakpoint(medium) {
          margin: rem-calc(40 0);
        }

        @include breakpoint(small down) {
          margin: rem-calc(20 0);
        }
      }

      &--look, &--text {
        .insertion__box {
          background: $white;

          @include breakpoint(medium) {
            padding: rem-calc(0 $padding-right 0 $padding-left);
          }

          @include breakpoint(small down) {
            padding: rem-calc(0 20 0 20);
          }
        }
      }

      &--look {
        @include breakpoint(small down) {
          position: relative;
        }

        .insertion__box {
          @include breakpoint(small down) {
            border: none;
            margin-left: rem-calc(-20);
            margin-right: rem-calc(-20);
          }

          .look {
            margin-bottom: 0;

            @include breakpoint(small down) {
              margin-left: rem-calc(-10);
              margin-right: rem-calc(-10);
            }
          }
        }
      }

      &--text {
        .insertion__box {
          @include breakpoint(medium) {
            padding-top: rem-calc($padding-bottom);
          }

          @include breakpoint(small down) {
            padding-top: rem-calc(20);
          }

          > * {
            &:last-child {
              @include breakpoint(medium) {
                margin-bottom: rem-calc($padding-bottom);
              }

              @include breakpoint(small down) {
                margin-bottom: rem-calc(20);
              }
            }
          }
        }
      }

      &--products {
        .insertion__box {
          @include breakpoint(medium) {
            $width: $global-width + rem-calc(30);

            left: 50%;
            margin-left: - $width / 2;
            position: relative;
            padding: rem-calc(29 24 0);
            width: $width;

            .products {
              justify-content: center;
            }
          }

          @include breakpoint(small down) {
            border: none;

            .products {
              border-bottom: none;
              border-top: none;
              margin-bottom: rem-calc(-20);
              padding: 0;
            }
          }
        }
      }
    }

    article {
      @include breakpoint(small down) {
        font-size: rem-calc(14);
      }
    }

  }
}
