.press {
  .section--press & {
    background: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(medium) {
      padding: rem-calc(35 60 35 50);
    }

    @include breakpoint(small down) {
      flex-wrap: wrap;
      padding: rem-calc(20 10 30);
    }

    .press__title {
      @include breakpoint(medium) {
        margin-right: rem-calc(30);
      }
    }

    .press__logos {
      align-items: center;
      display: flex;

      @include breakpoint(medium) {
        flex-grow: 1;
        justify-content: space-between;
      }

      @include breakpoint(small down) {
        flex-wrap: wrap;
        justify-content: flex-start;
      }

      img {
        max-height: rem-calc(60);

        @include breakpoint(medium) {
          //margin-right: rem-calc(70);
        }

        @include breakpoint(small down) {
          &[src*="tnyt"] {
            margin-bottom: rem-calc(14);
            width: 91%;
          }

          &[src*="wwd"] {
            width: 27.3333333%;
          }

          &[src*="mashable"] {
            margin-right: rem-calc(15);
            width: 52.3333333%;
          }
        }
      }
    }
  }

  &__title {
    color: $black;
    font-family: 'Yefimov Serif';
    font-weight: bold;
    font-size: rem-calc(16);
    line-height: 1;
    margin: 0;
    text-transform: uppercase;

    @include breakpoint(medium) {
      width: rem-calc(132);
    }

    @include breakpoint(small down) {
      font-weight: bold;
      margin-bottom: rem-calc(28);
    }
  }

  &__logos {
    img {
      vertical-align: middle;

      &:last-child {
        margin-right: 0 !important;
      }
    }
  }
}
