$selector-height: 2rem;

.select2-container.filter-inline {
  margin: 0;
  min-width: 10rem;
  position: relative;
  z-index: 10000;
  height: $selector-height;
  line-height: $selector-height;

  & > * {
    vertical-align: middle;
  }

  .select2-choice {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.filter-inline__dropdown {
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: ($selector-height + 1rem) 0 0 1rem;
  box-sizing: content-box;
  transform: translateY(-(  $selector-height + 1rem)) translateX(-0.7rem);

  .select2-results {
    background-color: #ffffff;
    padding: 0 0 0 0.5rem;
    margin: 0;
  }

  .select2-result {
    &:first-child {
      display: none !important;
    }

    &.select2-highlighted {
      background: none;
      font-weight: 600;
    }
  }

  .select2-result-label {
    padding: 0;
  }

  .woof-padding-1 {
    display: none !important;
  }
}