// =============================================================================
// SELECT2 (CSS)
// =============================================================================

.select2-container {
  margin: rem-calc(0 0 18);
  position: relative;
  display: block !important;
  zoom: 1;
  *display: inline;
  vertical-align: middle;

  @include breakpoint(small down) {
    margin: rem-calc(0 0 10);
  }
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.
    More Info : http://www.quirksmode.org/css/box.html
  */
  -webkit-box-sizing: border-box; /* webkit */
  -moz-box-sizing: border-box; /* firefox */
  box-sizing: border-box; /* css3 */
}

.select2-container .select2-choice {
  display: block;
  padding: rem-calc(7 14);
  overflow: hidden;
  position: relative;
  border: $input-border;
  white-space: nowrap;
  color: $input-color;
  line-height: 1.1;
  text-decoration: none;
  border-radius: 0;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: $input-background;
  font-size: $input-font-size;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;

  @include breakpoint(small down) {
    font-size: rem-calc(18);
    margin: rem-calc(0 0 10);
    padding-bottom: rem-calc(10);
    padding-top: rem-calc(10);
  }
}

html[dir="rtl"] .select2-container .select2-choice {
  padding: rem-calc(0 14 0 0);
}

.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: $light-gray;
  border-radius: 0;
}

.select2-container.select2-allowclear .select2-choice .select2-chosen {
  margin-right: rem-calc(42);
}

.select2-container .select2-choice > .select2-chosen {
  margin-right: rem-calc(26);
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: none;
  width: auto;
}

html[dir="rtl"] .select2-container .select2-choice > .select2-chosen {
  margin-left: rem-calc(26);
  margin-right: 0;
}

.select2-container .select2-choice abbr {
  display: none;
  width: rem-calc(12);
  height: rem-calc(12);
  position: absolute;
  right: rem-calc(24);
  top: rem-calc(5);
  font-size: rem-calc(1);
  text-decoration: none;
  border: 0;
  background: url($p_images + 'icons/select2.png') right top no-repeat;
  cursor: pointer;
  outline: 0;
}

.select2-container.select2-allowclear .select2-choice abbr {
  display: inline-block;
}

.select2-container .select2-choice abbr:hover {
  background-position: right -11px;
  cursor: pointer;
}

.select2-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 9998;
  /* styles required for IE to work */
  background-color: $white;
  filter: alpha(opacity=0);
}

.select2-drop {
  width: 100%;
  margin-top: rem-calc(-1);
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: $white;
  color: $black;
  border: rem-calc(1) solid $black;
  border-top: 0;
  border-radius: 0;
}

.select2-drop.select2-drop-above {
  margin-top: rem-calc(1);
  border-top: rem-calc(1) solid $black;
  border-bottom: 0;
  border-radius: 0;
}

.select2-drop-active {
  border: rem-calc(1) solid $black;
  border-top: none;
}

.select2-drop.select2-drop-above.select2-drop-active {
  border-top: rem-calc(1) solid $black;
}

.select2-drop-auto-width {
  border-top: rem-calc(1) solid $light-gray;
  width: auto;
}

.select2-drop-auto-width .select2-search {
  padding-top: rem-calc(5);
}

.select2-container .select2-choice .select2-arrow {
  display: inline-block;
  width: rem-calc(30);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0;
  background-clip: padding-box;
}

html[dir="rtl"] .select2-container .select2-choice .select2-arrow {
  border-radius: 0;
  left: 0;
  right: auto;
}

.select2-container .select2-choice .select2-arrow b {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;

  &:after {
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    left: 0;
    border-top: rem-calc(8) solid $black;
    border-left: rem-calc(5) solid transparent;
    border-right: rem-calc(5) solid transparent;
    margin-top: rem-calc(-4);
  }
}

html[dir="rtl"] .select2-container .select2-choice .select2-arrow b {

}

.select2-search {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding-left: rem-calc(14);
  padding-right: rem-calc(14);
  position: relative;
  z-index: 10000;
  white-space: nowrap;
  padding-bottom: rem-calc(14);
}

.select2-search input {
  width: 100%;
  height: auto !important;
  padding: rem-calc(4 20 4 5) !important;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: rem-calc(1) solid $light-gray;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: $white url($p_images + 'icons/select2.png') no-repeat 100% -22px;
}

html[dir="rtl"] .select2-search input {
  background: $white url($p_images + 'icons/select2.png') no-repeat -37px -22px;
  padding: rem-calc(4 5 4 20);
}

.select2-drop.select2-drop-above .select2-search input {
  margin-top: rem-calc(5);
}

.select2-search input.select2-active {
  background: $white url($p_images + 'icons/select2-spinner.gif') no-repeat 100%;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: rem-calc(1) solid $black;
  outline: none;
}

.select2-dropdown-open .select2-choice {
  border-bottom-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  .select2-arrow {
    b {
      &:after {
        border-top: none;
        border-bottom: rem-calc(8) solid $black;
        margin-top: rem-calc(-6);
      }
    }
  }
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  border: rem-calc(1) solid $black;
  border-top-color: transparent;
}

.select2-dropdown-open .select2-choice .select2-arrow {
  background: transparent;
  border-left: none;
  filter: none;
}
html[dir="rtl"] .select2-dropdown-open .select2-choice .select2-arrow {
  border-right: none;
}

.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -18px 1px;
}

html[dir="rtl"] .select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -16px 1px;
}

.select2-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* results */
.select2-results {
  max-height: 200px;
  padding: 4px;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: #fafafa;
}

html[dir="rtl"] .select2-results {
  padding: 0 4px 0 0;
  margin: 4px 0 4px 4px;
}

.select2-results ul.select2-result-sub {
  margin: 0;
  padding-left: 0;
}

.select2-results li {
  list-style: none;
  display: list-item;
  background-image: none;
  margin: 3px 0;
}

.select2-results li.select2-result-with-children > .select2-result-label {
  font-weight: bold;
}

.select2-results .select2-result-label {
  padding: 5px 7px;
  margin: 0;
  cursor: pointer;

  min-height: 1em;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select2-results-dept-1 .select2-result-label { padding-left: 20px }
.select2-results-dept-2 .select2-result-label { padding-left: 40px }
.select2-results-dept-3 .select2-result-label { padding-left: 60px }
.select2-results-dept-4 .select2-result-label { padding-left: 80px }
.select2-results-dept-5 .select2-result-label { padding-left: 100px }
.select2-results-dept-6 .select2-result-label { padding-left: 110px }
.select2-results-dept-7 .select2-result-label { padding-left: 120px }

.select2-results .select2-highlighted {
  background: #f1f1f1;
  color: #000;
  border-radius: 3px;
}

.select2-results li em {
  background: #feffde;
  font-style: normal;
}

.select2-results .select2-highlighted em {
  background: transparent;
}

.select2-results .select2-highlighted ul {
  background: #fff;
  color: #000;
}

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-ajax-error,
.select2-results .select2-selection-limit {
  background: #f4f4f4;
  display: list-item;
  padding-left: 5px;
}

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
  color: #666;
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}
.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select2-results .select2-selected {
  display: none;
}

.select2-more-results.select2-active {
  background: #f4f4f4 url($p_images + 'icons/select2-spinner.gif') no-repeat 100%;
}

.select2-results .select2-ajax-error {
  background: rgba(255, 50, 50, .2);
}

.select2-more-results {
  background: #f4f4f4;
  display: list-item;
}

/* disabled styles */

.select2-container.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

.select2-container.select2-container-disabled .select2-choice .select2-arrow {
  background-color: #f4f4f4;
  background-image: none;
  border-left: 0;
}

.select2-container.select2-container-disabled .select2-choice abbr {
  display: none;
}


/* multiselect */

.select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;
  margin: 0;
  padding: 0 5px 0 0;
  position: relative;

  border: 1px solid #ccc;
  cursor: text;
  overflow: hidden;

  background-color: #fff;
}

html[dir="rtl"] .select2-container-multi .select2-choices {
  padding: 0 0 0 5px;
}

.select2-locked {
  padding: 3px 5px 3px 5px !important;
}

.select2-container-multi .select2-choices {
  min-height: 26px;
}

.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #666;
  outline: none;

  //-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  //        box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}
.select2-container-multi .select2-choices li {
  float: left;
  list-style: none;
}
html[dir="rtl"] .select2-container-multi .select2-choices li
{
  float: right;
}
.select2-container-multi .select2-choices .select2-search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.select2-container-multi .select2-choices .select2-search-field:first-child {
  width: 100%;
}

.select2-container-multi .select2-choices .select2-search-field input {
  padding: 5px;
  margin: 1px 0;
  font-family: sans-serif;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent !important;
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: #fff url($p_images + 'icons/select2-spinner.gif') no-repeat 100% !important;
}

.select2-default {
  color: #999 !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
  padding: 5px 8px 5px 24px;
  margin: 3px 0 3px 5px;
  position: relative;

  line-height: 15px;
  color: #333;
  cursor: default;
  border-radius: 2px;

  background-clip: padding-box;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background-color: #e4e4e4;
}
html[dir="rtl"] .select2-container-multi .select2-choices .select2-search-choice
{
  margin: 3px 5px 3px 0;
  padding: 5px 24px 5px 8px;
}
.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
  cursor: default;
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4;
}

.select2-search-choice-close {
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  right: 7px;
  top: 6px;

  font-size: 1px;
  outline: none;
  background: url($p_images + 'icons/select2.png') right top no-repeat;
}
html[dir="rtl"] .select2-search-choice-close {
  right: auto;
  left: 7px;
}

.select2-container-multi .select2-search-choice-close {
  left: 7px;
}

html[dir="rtl"] .select2-container-multi .select2-search-choice-close {
  left: auto;
  right: 7px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px;
}
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  background-position: right -11px;
}

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 5px;
  border: 1px solid #ddd;
  background-image: none;
  background-color: #f4f4f4;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {    display: none;
  background: none;
}
/* end multiselect */


.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
  text-decoration: underline;
}

.select2-offscreen, .select2-offscreen:focus {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}

.select2-display-none {
  display: none;
}

.select2-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll;
}

/* Retina-ize icons */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx)  {
  .select2-search input {
    background-image: url($p_images + 'icons/select2x2.png') !important;
    background-repeat: no-repeat !important;
    background-size: 60px 40px !important;
  }

  .select2-search input {
    background-position: 100% -21px !important;
  }
}
