.popup {
  @include breakpoint(medium) {
    display: none;
  }

  @include breakpoint(small down) {
    background: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    bottom: 0;
    clear: left;
    position: fixed;
    left: 0;
    padding: rem-calc(30 10);
    top: 0;
    opacity: 0;
    transition: all .25s ease-out;
    width: 100%;
    z-index: 0;
  }

  &.opened {
    @include breakpoint(small down) {
      opacity: 1;
      z-index: 15000;
    }
  }

  .mCustomScrollBox {
    &:before, &:after {
      content: '';
      display: block;
      height: rem-calc(16);
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;
    }

    &:before {
      background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
      background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
      background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
      top: 0;
    }

    &:after {
      background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
      background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
      bottom: 0;
    }
  }

  .mCSB_inside {
    > .mCSB_container {
      margin-right: 0;
    }
  }

  .mCSB_scrollTools {
    left: 0;
    right: auto;
    margin-left: rem-calc(-5);
    padding-left: rem-calc(5);

    .mCSB_draggerContainer {
      left: rem-calc(-5);
    }

    .mCSB_dragger {
      .mCSB_dragger_bar {
        background: rgba($black, .1);
      }

      &:hover {
        .mCSB_dragger_bar {
          background: rgba($black, .2);
        }
      }

      &:active, &.mCSB_dragger_onDrag {
        .mCSB_dragger_bar {
          background: rgba($black, .3);
        }
      }
    }
  }
}

@keyframes popup-nav-content {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#popup-nav {
  @include breakpoint(small down) {
    left: auto;
    opacity: 1;
    right: -100%;
    width: 87.5%;

    & > div {
      opacity: 0;
    }
  }

  &.opened {
    @include breakpoint(small down) {
      right: 0;

      & > div {
        animation-duration: .5s;
        animation-delay: .25s;
        animation-name: popup-nav-content;
        animation-direction: alternate;
        animation-fill-mode: forwards;
        animation-play-state: running;
        animation-iteration-count: 1;
      }
    }
  }
}