// =============================================================================
// BREADCRUMBS (CSS)
// =============================================================================

.breadcrumbs {
  background: $breadcrumbs-background-color;
  border-top: rem-calc(1) solid $breadcrumbs-border-color;
  line-height: 1.2;
  margin: 0;

  @include breakpoint(medium) {
    padding: rem-calc(10 0);
  }

  @include breakpoint(small down) {
    padding: rem-calc(5 0);
  }

  li {
    display: inline;
    font-size: rem-calc(14);
    margin-right: rem-calc(11);
    position: relative;

    &:last-child {
      margin-right: 0;
      padding-right: 0;

      &:after {
        display: none;
      }
    }

    &:after {
      content: '>';
      font-size: rem-calc(14);
      margin-left: rem-calc(11);
    }
  }

  span {
    color: $anchor-color-hover;
  }
}
