.menu {
  font-size: rem-calc(18);
  margin: 0;
  position: relative;

  li {
    position: relative;

    &.is-dropdown-submenu-parent {

      &:after {
        background: $white;
        bottom: 0;
        border: rem-calc(1) solid #D1D1D1;
        border-bottom: none;
        content: '';
        display: block;
        position: absolute;
        top: rem-calc(-20);
        left: rem-calc(-17);
        right: 0;
        opacity: 0;
        z-index: 0;
      }

      &[aria-expanded="true"] {
        &:after {
          opacity: 1;
        }
      }

      > a {
        padding-right: rem-calc(45);
        position: relative;
        z-index: 1;

        &:after {
          content: '';
          display: block;
          border-top: rem-calc(8) solid $black;
          border-left: rem-calc(5) solid transparent;
          border-right: rem-calc(5) solid transparent;
          margin-top: rem-calc(-4);
          position: absolute;
          right: rem-calc(17);
          top: 50%;
          transition: all .15s linear;
        }
      }

      &[aria-expanded='true'] {
        a {
          &:after {
            transform: scale(-1);
          }
        }
      }
    }

    .page__header & {
      display: block;
      float: left;
      text-transform: uppercase;

      @include breakpoint(medium) {
        line-height: 2rem;

        i.icon {
          font-size: 0.9em;
        }
      }

      a > * {
        vertical-align: middle;
      }

      i.icon.icon-wishlist-hollow {
        font-size: 0.92em;
      }

      .badge {
        background: none;
        border-radius: 0;
        color: $alert-color;
        display: inline-block;
        font-size: rem-calc(18);
        line-height: normal;
        min-width: 0;
        padding: 0;
        vertical-align: middle;

        @include breakpoint(medium) {
          margin-left: rem-calc(8);
        }

        &.hidden {
          display: none;
          pointer-events: none;
        }
      }
    }
  }

  &--action {
    font-weight: bold;

    li {
      .page__header & {
        margin-left: rem-calc(30);

        @include breakpoint(medium) {
          margin-left: rem-calc(50);
        }

        &:first-child {
          margin: 0;
        }
      }
    }
  }

  &--auth {
    font-weight: bold;

    li {
      .page__header & {
        margin-left: rem-calc(34);

        &:before {
          background: url($p_svg + "icons/slash.svg") no-repeat center;
          height: rem-calc(20);
          content: "";
          width: rem-calc(20);
          position: absolute;
          top: 50%;
          left: rem-calc(-27);
          transform: translateY(-50%);
        }

        &:first-child {
          margin: 0;

          &:before {
            display: none;
          }
        }
      }
    }
  }

  &--shop {
    line-height: 1;

    li {
      .page__header & {
        @include breakpoint(medium) {
          margin-right: rem-calc(30);
        }

        @include breakpoint(small down) {
          margin-right: rem-calc(20);
        }

        &:last-child {
          margin: 0;
        }

        a {
          display: block;
          font-size: rem-calc(22);

          @include breakpoint(medium) {
            font-size: rem-calc(24);

            &:hover {
              color: $alert-color;
            }
          }
        }
      }
    }
  }

  &--mobile {
    li {
      $size: 20px;

      display: block;

      .page__header & {
        width: $size;
      }

      a {
        display: block;
        padding: rem-calc(10);

        &[data-popup="popup-nav"] {
          z-index: 15001;

          .popup-opened & {
            position: fixed;
            right: rem-calc($size - 8);
          }

          display: block;
          position: relative;
          width: rem-calc($size);

          @include breakpoint(medium) {
            height: rem-calc($size + 8);
          }

          @include breakpoint(small down) {
            height: rem-calc($size);
          }

          i {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            background: $black;
            height: 2px;
            width: 100%;

            &:before, &:after {
              background: $black;
              content: '';
              display: block;
              left: 50%;
              position: absolute;
              top: 50%;
              transition: all .15s linear;
              width: 100%;
              height: 100%;
            }

            &:before {
              transform: translateX(-50%) translateY(-9px);
            }

            &:after {
              transform: translateX(-50%) translateY(7px);
            }
          }

          &.opened {
            width: rem-calc($size + 8);

            i {
              background: none;

              &:before {
                transform: translateX(-50%) rotate(-45deg);
              }

              &:after {
                transform: translateX(-50%) rotate(45deg);
              }
            }
          }
        }
      }

      &.icon {
        padding-left: rem-calc(30);

        &:before {
          left: rem-calc(10);
          position: absolute;
          top: 50%;
          text-align: center;
          transform: translateY(-50%);
          width: rem-calc(24);
        }
      }
    }

    &.nested {
      li {
        float: none;
        text-transform: none;
      }
    }

    > li {
      margin-bottom: rem-calc(35);

      &:last-child {
        margin-bottom: 0;
      }

      > a {
        display: block;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}