.form {
  &__title {
    margin: 0;
  }

  &-checkbox, &-radio {
    border: 0;
    display: block;
    width: 1px;
    height: 1px;
    vertical-align: middle;
    position: absolute;
    opacity: 0;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);

    + .form-option {
      margin: rem-calc(0 5 5 0);
    }

    &:checked {
      + .form-option {
        border-color: $dark-gray;
        box-shadow: 0 0 0 1px $dark-gray;
      }
    }
  }

  &-option {
    border: 1px solid $light-gray;
    cursor: pointer;
    font-size: 0;
    padding: 1px;
    transition: all .15s ease;
    
    &:hover {
      border-color: $dark-gray;
    }

    &-variant {
      display: inline-block;
      font-size: rem-calc(16);
      min-width: rem-calc(16);
      padding: 1px .35714rem;
      pointer-events: none;

      &--color, &--pattern {
        height: rem-calc(20);
        width: rem-calc(20);
        min-width: initial;
        padding: 0;
      }
    }
  }

  // Increment field
  // -----------------------------------------------------------------------------

  .form-increment {
    > * {
      display: inline-block;
      vertical-align: middle;
      height: rem-calc(30);
    }
    
    button {
      background: darken($white, 1%);
      border: 1px solid lighten($light-gray, 20%);
      border-radius: rem-calc(2);
      padding: rem-calc(3 10);

      &:hover {
        background: darken($white, 4%);
      }

      i {
        font-size: rem-calc(10);
      }
    }

    .form-input {
      margin: 0;
      padding: rem-calc(3);
      text-align: center;
      width: rem-calc(40);
    }
  }

  &-row {
    margin: 0;
  }
}

.card-body, .form-actions, .form-option-variant {
  text-align: center;
}

.woo_recaptcha_field {
  margin: rem-calc(0 0 18);

  .place-order & {
    display: block !important;
    float: none !important;
  }

  @include breakpoint(355px down) {
    transform: scale(0.8) translateX(-12%);
  }
}