// =============================================================================
// LOOK (Settings)
// =============================================================================

$look-brand-font-size: 12px;
$look-brand-color: #9CA7BA;
$look-title-font-size: 28px;
$look-title-color: #2C2F33;
