// =============================================================================
// BLOG (CSS)
// =============================================================================

.blog {
  background-color: $blog-background-color;

  @include breakpoint(medium) {
    height: rem-calc(360);
    margin-bottom: rem-calc(40);
    padding: rem-calc(40);
  }

  @include breakpoint(small down) {
    margin-bottom: rem-calc(20);
    padding: rem-calc(20);
    text-align: center;
  }

  &__author {
    @include breakpoint(medium) {
      font-size: rem-calc(14);
      margin: rem-calc(27 0 0);
    }

    @include breakpoint(small down) {
      margin: rem-calc(20 0 0);
    }

    &__prefix {
      color: #9ca7ba;
      margin-right: 0.5em;
    }

    &__name {
      color: #9ca7ba;
    }
  }

  &__title {
    font-family: "Yefimov Serif";
    font-weight: bold;

    @include breakpoint(medium) {
      font-size: rem-calc(24);
      margin-bottom: rem-calc(27);
    }

    @include breakpoint(small down) {
      font-size: rem-calc(18);
      margin-bottom: rem-calc(20);
    }
  }

  figure {
    clear: left;
    height: rem-calc(200);
    width: rem-calc(200);
    margin: 0;
    position: relative;

    @include breakpoint(medium) {
      float: left;
    }

    @include breakpoint(small down) {
      margin: 0 auto;
    }

    a {
      display: block;
      height: 100%;
    }

    img {
      max-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }

    + .blog__wrap {
      @include breakpoint(medium) {
        margin-left: rem-calc(230);
      }

      @include breakpoint(small down) {
        margin-top: rem-calc(20);
      }
    }
  }

  &__summary {
    line-height: 1.5;

    @include breakpoint(small down) {
      font-size: rem-calc(14);
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
