// =============================================================================
// BLOG VIEW (CSS)
// =============================================================================

.blog-view {
  font-size: rem-calc(16);

  @include breakpoint(medium) {
    font-size: rem-calc(18);
  }


  .view__body {
    @include breakpoint(medium) {
      padding: rem-calc(57 0 0);
    }
  }

  &__header,
  &__body,
  &__footer {
    @include breakpoint(medium) {
      margin: 0 auto;
      width: rem-calc(797);
    }
  }

  &__header {
    margin-bottom: rem-calc(25);
    position: relative;
    text-align: center;

    @include breakpoint(medium) {
      margin-bottom: rem-calc(50);
    }

    .blog-view__like {
      position: absolute;
      top: rem-calc(30);
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;

      @include breakpoint(medium) {
        position: relative;
        left: auto;
        margin-bottom: rem-calc(10);
        transform: none;
        top: auto;
      }

      .sl-icon {
        @include breakpoint(medium) {
          font-size: rem-calc(20);
        }
      }

      .sl-count {
        display: none;
      }
    }

    .blog-view__comments__count {
      color: $light-gray;
      font-size: rem-calc(12);
      font-weight: 600;
      text-transform: uppercase;
    }

    .social-links {
      font-size: rem-calc(24);
      position: absolute;
      top: 0;
      right: rem-calc(-50);

      .social-links__item {
        float: none;
        margin: rem-calc(35 0 0);

        &:first-child {
          margin-top: 0;
        }

        a {
          color: #BAC2D0;

          &:hover {
            color: $anchor-color;
          }
        }
      }
    }

    .jssocials {
      font-size: rem-calc(24);
      position: absolute;
      top: 0;
      right: rem-calc(-50);
    }

    .jssocials-share {
      float: none;
      margin: rem-calc(35 0 0);

      &:first-child {
        margin-top: 0;
      }
    }

    .jssocials-share-link {
      color: #BAC2D0;

      &:hover {
        color: $anchor-color;
      }
    }
  }

  &__body {
    padding: rem-calc(0 20);

    @include breakpoint(medium) {
      padding: 0;
    }


    a {
      color: $alert-color;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__footer {
    font-size: rem-calc(10);
    font-weight: 600;
    padding: rem-calc(20);

    @include breakpoint(medium) {
      padding: rem-calc(20 0 0);
    }


    hr {
      border-bottom-color: #ECEFF5;
      margin: rem-calc(17) auto rem-calc(19);
    }

    .blog-view__like {
      > * {
        vertical-align: middle;
      }

      .sl-icon {
        @include breakpoint(medium) {
          font-size: rem-calc(14);
        }
      }

      .sl-wrapper {
        + * {
          margin-left: rem-calc(10);
        }
      }

      #sl-loader {
        transform: translateX(rem-calc(-15)) translateY(-60%);
      }

      + .blog-view__comments {
        margin-left: rem-calc(10);
      }
    }

    .blog-view__comments {
      display: inline-block;
      vertical-align: middle;
      text-transform: uppercase;
    }

    .social-links {
      float: right;
      font-size: rem-calc(16);

      .social-links__item {
        a {
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }

    .jssocials {
      float: right;
      font-size: rem-calc(16);
    }

    .jssocials-share-link {
      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__title {
    color: $white;
    font-size: rem-calc(26);
    font-weight: 800;
    margin: rem-calc(0) auto rem-calc(11);
    position: absolute;
    top: rem-calc(65);
    width: 78%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    @include breakpoint(medium) {
      color: $black;
      font-size: rem-calc(42);
      left: auto;
      margin: rem-calc(0) auto rem-calc(14);
      position: relative;
      top: auto;
      transform: none;
      width: rem-calc(620);
    }
  }

  &__preview {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 68.75%;

    &:before {
      background: rgba(#1F2936, 0.8);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    @include breakpoint(medium) {
      margin: rem-calc(45 0 0);
      padding-top: 62.48432%;

      &:before {
        display: none;
      }
    }
  }

  &__datepost {
    position: absolute;
    bottom: rem-calc(25);
    left: 50%;
    transform: translateX(-50%);

    @include breakpoint(medium) {
      background: $anchor-color;
      border-radius: 50%;
      bottom: auto;
      height: rem-calc($blog-view-date-size);
      top: rem-calc(43);
      width: rem-calc($blog-view-date-size);
      left: 0;
      margin-left: -(rem-calc($blog-view-date-size)) / 2;
      padding: rem-calc(52 10 10);
      transform: none;
    }


    > * {
      @include breakpoint(medium) {
        display: block;
      }
    }

    &__date {
      color: $light-gray;
      font-weight: 800;
      white-space: nowrap;
      text-transform: lowercase;

      + .blog-view__datepost__year {
        margin-left: 0.3em;
      }

      @include breakpoint(medium) {
        color: $white;
        font-size: rem-calc(50);
        font-weight: 900;
      }
    }

    &__year {
      color: $light-gray;
      font-weight: 800;

      @include breakpoint(medium) {
        color: $dark-gray;
        font-size: rem-calc(14);
        font-weight: 700;
        margin-top: rem-calc(3);
      }
    }
  }

  &__summary {
    font-size: rem-calc(20);
    font-weight: 300;
    margin-bottom: 0.65em;

    p {
      line-height: 1.4;
    }

    @include breakpoint(medium) {
      font-size: rem-calc(26);
      margin-bottom: 1.5em;

      p {
        line-height: 1.6;
      }
    }
  }
}
