// =============================================================================
// WOOCOMMERCE (CSS)
// =============================================================================

/**
 * Main WooCommerce styles
 */
.woocommerce {
  &-LostPassword {
    font-size: rem-calc(14);
  }

  &-ResetPassword {
    .button {
      margin-bottom: 0;
    }
  }

  &-message, &-info, &-error {
    margin-bottom: rem-calc(40);
    position: relative;
    z-index: 1;

    @include breakpoint(medium) {
      margin-top: rem-calc(-10);
    }

    a {
      font-weight: 500;
    }
  }

  &-info {
    & ~ & {
      margin-top: rem-calc(-30);
    }

    .showcoupon, .showlogin {
      color: $primary-color;
    }

    @include breakpoint(small down) {
      font-size: rem-calc(14);
    }
  }

  &-message {
    .button {
      margin: 0;
    }

    @include breakpoint(medium) {
      font-size: rem-calc(24);
    }

    @include breakpoint(small down) {
      font-size: rem-calc(10);
    }
  }

  &-error {
    .button {
      margin: 0;
    }
  }

  a.remove {
    &:not(.remove_from_wishlist) {
      font-size: rem-calc(24);
    }
  }

  .blockUI.blockOverlay {
    background: none !important;
  }

  .processing {
    opacity: .5;
  }

  .login {
    padding-bottom: rem-calc(40);

    .form-row {
      padding-left: 0;
    }

    .form-row-last {
      clear: left;
    }

    .button {
      margin: rem-calc(15 0);
    }

    .lost_password {
      clear: left;
    }
  }

  .checkout_coupon {
    margin-left: rem-calc(-10);
    margin-right: rem-calc(-10);

    .form-row-last {
      clear: left;
    }
  }

  &-billing-fields, &-shipping-fields {
    margin: rem-calc(0 -10);

    > h2 {
      margin-left: rem-calc(10);
      margin-right: rem-calc(10);
    }
  }

  &-billing-fields {
    #createaccount {
      ~ label {
        margin-bottom: rem-calc(10);
      }
    }
  }

  &-shipping-fields {
    margin-top: rem-calc(20);
  }

  &-checkout-review-order-table {
    font-size: rem-calc(14);
    margin: rem-calc(-9 0 10);
    width: auto;

    thead, tbody, tfoot {
      background: none;
      color: $body-font-color;

      th, td {
        font-weight: normal;
        padding: rem-calc(9 20);
      }

      th, td:first-child {
        text-align: left;
        padding-left: 0;

        @include breakpoint(medium) {
          min-width: rem-calc(330);
        }
      }
    }

    .order-total {
      color: $black;

      @include breakpoint(medium) {
        font-size: rem-calc(30);
      }

      @include breakpoint(small down) {
        font-size: rem-calc(18);
      }

      th, td {
        font-weight: bold;
      }
    }

    .product-quantity {
      color: $light-gray;
      font-weight: 300;
    }
  }

  &-checkout-payment {
    @include breakpoint(medium) {
      margin-top: rem-calc(23);
    }

    .place-order {
      @include breakpoint(medium) {
        margin-top: rem-calc(50);
      }

      @include breakpoint(small down) {
        margin-top: rem-calc(25);
        text-align: center;
      }

      .button {
        @include breakpoint(small down) {
          margin: 0;
          width: rem-calc(205);
        }
      }
    }
  }

  &-variation {
    font-size: 0;
    display: none !important;
    position: absolute;

    @include breakpoint(medium) {
      top: rem-calc(10);
      left: rem-calc(220);
    }

    @include breakpoint(small down) {
      left: 0;
      top: rem-calc(-20);
    }

    p {
      margin: 0;
    }

    > div {
      font-size: rem-calc(14);
      display: inline-block;
      vertical-align: top;
      margin-bottom: rem-calc(5);
    }

    &-availability {
      .in-stock {
        color: $light-gray;
      }
    }
  }

  &-Addresses {
    > p {
      @include breakpoint(small down) {
        font-size: rem-calc(14);
      }
    }
  }

  &-Address {
    @include breakpoint(small down) {
      margin-bottom: rem-calc(15);
    }

    &-title {
      position: relative;

      .edit {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);


        @include breakpoint(small down) {
          font-size: rem-calc(14);

          span {
            display: none;
          }
        }
      }
    }
  }

  &-MyAccount-navigation {
    display: none;

    .woocommerce-orders &,
    .woocommerce-downloads &,
    .woocommerce-edit-address &,
    .woocommerce-edit-account &,
    .woocommerce-payment-methods &,
    .woocommerce-add-payment-method &,
    .woocommerce-view-order & {
      display: block;
    }

    @include breakpoint(medium) {
      margin-bottom: rem-calc(45);
    }

    @include breakpoint(small down) {
      margin-bottom: rem-calc(26);
    }

    ul {
      margin: 0;
      overflow: hidden;

      @include breakpoint(small down) {
        display: flex;
        justify-content: space-between;
      }
    }

    &-link {
      background-color: $white;
      background-position: center 40%;
      background-repeat: no-repeat;
      border: rem-calc(1) solid #D1D1D1;
      display: block;
      text-align: center;
      transition: all .15s linear;

      @include breakpoint(medium) {
        $size: 157px;

        background-size: auto rem-calc(64);
        float: left;
        height: rem-calc($size);
        margin-right: rem-calc(30);
        width: rem-calc($size);

        &:last-child {
          margin-right: 0;
        }
      }

      @include breakpoint(small down) {
        $size: 40px;

        background-size: auto 60%;
        height: rem-calc($size);
        width: rem-calc($size);
      }

      &--dashboard {
        background-image: url("../img/myaccount/icon-dashboard.png");

        &.is-active {
          background-image: url("../img/myaccount/icon-dashboard-active.png");
        }

        &:hover {
          @include breakpoint(medium) {
            background-image: url("../img/myaccount/icon-dashboard-active.png");
          }
        }
      }

      &--orders {
        background-image: url("../img/myaccount/icon-orders.png");

        &.is-active {
          background-image: url("../img/myaccount/icon-orders-active.png");
        }
        &:hover {
          @include breakpoint(medium) {
            background-image: url("../img/myaccount/icon-orders-active.png");
          }
        }

        .woocommerce-view-order & {
          background-image: url("../img/myaccount/icon-orders-active.png");
          border-color: #464646;

          a {
            color: $primary-color;
          }
        }
      }

      &--downloads {
        display: none;
      }

      &--payment-methods {
        background-image: url("../img/myaccount/icon-payment.png");

        @include breakpoint(medium) {
          background-size: auto rem-calc(52);
        }

        &.is-active {
          background-image: url("../img/myaccount/icon-payment-active.png");
        }

        &:hover {
          @include breakpoint(medium) {
            background-image: url("../img/myaccount/icon-payment-active.png");
          }
        }

        .woocommerce-add-payment-method & {
          background-image: url("../img/myaccount/icon-payment-active.png");
          border-color: #464646;

          a {
            color: $primary-color;
          }
        }
      }

      &--edit-account {
        background-image: url("../img/myaccount/icon-details.png");

        &.is-active {
          background-image: url("../img/myaccount/icon-details-active.png");
        }

        &:hover {
          @include breakpoint(medium) {
            background-image: url("../img/myaccount/icon-details-active.png");
          }
        }
      }

      &--edit-address {
        background-image: url("../img/myaccount/icon-addresses.png");

        &.is-active {
          background-image: url("../img/myaccount/icon-addresses-active.png");
        }

        &:hover {
          @include breakpoint(medium) {
            background-image: url("../img/myaccount/icon-addresses-active.png");
          }
        }
      }

      &--customer-logout {
        background-image: url("../img/myaccount/icon-logout.png");

        @include breakpoint(medium) {
          float: right;
        }

        &.is-active {
          background-image: url("../img/myaccount/icon-logout-active.png");
        }

        &:hover {
          @include breakpoint(medium) {
            background-image: url("../img/myaccount/icon-logout-active.png");
          }
        }
      }

      &:hover {
        @include breakpoint(medium) {
          border-color: #464646;

          a {
            color: $primary-color;
          }
        }
      }

      &.is-active {
        border-color: #464646;

        a {
          color: $primary-color;
        }
      }

      a {
        color: $body-font-color;
        display: block;

        @include breakpoint(medium) {
          padding-top: 74%;
        }

        @include breakpoint(small down) {
          text-indent: -9999px;
        }
      }
    }
  }

  &-EditAccountForm {
    .edit-account__password {
      margin-top: rem-calc(32);
    }
  }

  &-password-strength {
    display: none;
  }

  &-password-hint {
    display: block;
    margin-bottom: rem-calc(18);
  }

  &-PaymentMethods {
    margin: 0;

    @include breakpoint(medium) {
      margin: rem-calc(0 0 29);
    }
  }

  &-PaymentMethod {
    display: block;
    padding-left: rem-calc(30);

    input {
      margin-left: rem-calc(-30);
    }

    label {
      color: $black;

      + label {
        margin-bottom: rem-calc(15);

        img {
          &:first-child {
            margin-left: 0 !important;
          }
        }
      }
    }
  }

  &-PaymentBox {
    color: $form-label-color;

    a {
      color: $form-label-color;
      text-decoration: underline;

      &:hover {
        @include breakpoint(medium) {
          text-decoration: none;
        }
      }
    }

    p {
      margin: 0;
    }
  }

  &-thankyou-order-details {
    strong {
      color: $black;
      font-weight: 500;
    }
  }
}

.wc_payment_methods {
  margin: 0;

  @include breakpoint(medium) {
    width: 45%;
  }

  li {
    display: block;
  }

  > li {
    white-space: nowrap;

    @include breakpoint(medium) {
      margin-bottom: rem-calc(30);
    }

    @include breakpoint(small down) {
      margin-bottom: rem-calc(20);
    }

    &:last-child {
      margin-bottom: 0;
    }

    > * {
      white-space: normal;
    }
  }

  .payment_box {
    @include breakpoint(medium) {
      margin-top: rem-calc(30);
    }

    @include breakpoint(small down) {
      margin-top: rem-calc(20);
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.wc-proceed-to-checkout {
  @include breakpoint(small down) {
    text-align: center;
  }

  .button {
    @include breakpoint(small down) {
      padding-left: rem-calc(10);
      padding-right: rem-calc(10);
      width: rem-calc(205);

      &:first-child {
        margin-bottom: rem-calc(10);
      }
    }
  }
}

.shop_table {
  font-size: rem-calc(14);

  @include breakpoint(medium) {
    border-collapse: separate;
    border-spacing: rem-calc(0 20);
    margin: rem-calc(-20 0 10);
  }

  @include breakpoint(small down) {
    display: block;
    margin: rem-calc(0 0 10);
  }

  thead, tfoot {
    th, td {
      border-bottom: none;
      color: $body-font-color;
      padding: rem-calc(15 20);
      text-transform: none;
    }
  }

  thead {
    border-bottom: none;

    @include breakpoint(small down) {
      display: none;
    }
  }

  tbody {
    @include breakpoint(small down) {
      background: transparent;
      display: block;
    }
  }

  tr {
    @include breakpoint(small down) {
      background: $white;
      display: block;
      margin-bottom: rem-calc(20);
      overflow: hidden;
      position: relative;
      padding: rem-calc(10);
    }
  }

  th, td {
    background: $white;

    @include breakpoint(medium) {
      padding: rem-calc(11 20);
    }

    @include breakpoint(small down) {
      display: block;
      padding: 0;
    }
  }
}