// =============================================================================
// BUTTON (CSS)
// =============================================================================

button {
  outline: none;
}

.button {
  text-transform: uppercase;
  font-weight: 700;
  outline: none;

  @include breakpoint(small down) {
    margin: rem-calc(0 0 18);
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
  }

  &.out-of-stock {
    border-color: $light-gray;
    color: $light-gray;
    cursor: default;

    &:hover {
      border-color: $light-gray;
      color: $light-gray;
    }
  }
}
