/*
custom presets {
 */

.set_uppercase {
  text-transform: uppercase;
}

.clear_uppercase {
  text-transform: none;
}

.button-primary {
  display: block;
  text-decoration: none;
  line-height: 11px;
  height: 42px;
  border-radius: 2px;
  border: none;
  background-color: #000;
  font-family: "Proxima Nova", Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}

.clearfloat {
  clear:both;
}

.alignleft {
  float:left;
}

.alignright {
  float: right;
}

body {
  min-width: 820px;
}
/*
} custom prests
 */


