// =============================================================================
// PAGINATION (CSS)
// =============================================================================

.pagination-wrap {
  align-items: center;
  background: $white;
  display: flex;
  justify-content: space-between;

  @include breakpoint(medium) {
    padding: rem-calc(15.5 20);
  }

  @include breakpoint(small down) {
    margin-left: rem-calc(-10);
    margin-right: rem-calc(-10);
    padding: rem-calc(16 20);
  }
}

.pagination {
  text-align: center;

  .view__footer & {
    @include breakpoint(medium) {

    }
  }

  ul {
    margin: 0;
    line-height: 1;
  }

  li {
    display: inline-block;
    font-size: rem-calc(14);
    margin: rem-calc(0 7);

    a, span {
      color: $pagination-item-link-color;
      display: inline-block;
      text-decoration: none;
      position: relative;

      i {
        line-height: inherit;
        position: relative;
        top: -1px;
      }

      &.current {
        color: $pagination-item-link-active-color;
      }

      &.prev, &.next {
        &:before {
          content: '';
          display: inline-block;
          border-top: rem-calc(5) solid transparent;
          border-bottom: rem-calc(5) solid transparent;
          transition: all .15s linear;
        }
      }

      &.prev {
        @include breakpoint(medium) {
          margin-right: rem-calc(36);
        }

        @include breakpoint(small down) {
          margin-right: rem-calc(3);
        }

        &:before {
          border-right: rem-calc(8) solid $black;
        }
      }

      &.next {
        @include breakpoint(medium) {
          margin-left: rem-calc(36);
        }

        @include breakpoint(small down) {
          margin-left: rem-calc(3);
        }

        &:before {
          border-left: rem-calc(8) solid $black;
        }
      }
    }

    a {
      &:hover {
        @include breakpoint(medium) {
          color: $pagination-item-link-active-color;
        }
      }

      &.prev {
        &:hover {
          @include breakpoint(medium) {
            &:before {
              border-right: rem-calc(8) solid $pagination-item-link-active-color;
            }
          }
        }
      }

      &.next {
        &:hover {
          @include breakpoint(medium) {
            &:before {
              border-left: rem-calc(8) solid $pagination-item-link-active-color;
            }
          }
        }
      }
    }
  }
}
