@font-face {
  font-family: "Gotham Pro";
  src: url($p_fonts + "GothamPro/GothamPro.eot");
  src: url($p_fonts + "GothamPro/GothamPro.woff") format("woff"), url($p_fonts + "GothamPro/GothamPro.ttf") format("truetype"), url($p_fonts + "GothamPro/GothamPro.svg#GothamPro") format("svg"), url($p_fonts + "GothamPro/GothamPro.eot?#iefix") format("embedded-opentype");
  font-weight: 100;
  font-style: normal;
}