@font-face {
  font-family: "Proxima Nova";
  src: url($p_fonts + "ProximaNova/ProximaNovaT-Thin.eot");
  src: url($p_fonts + "ProximaNova/ProximaNovaT-Thin.woff2") format("woff2"), url($p_fonts + "ProximaNova/ProximaNovaT-Thin.woff") format("woff"), url($p_fonts + "ProximaNova/ProximaNovaT-Thin.ttf") format("truetype"), url($p_fonts + "ProximaNova/ProximaNovaT-Thin.svg#ProximaNovaT-Thin") format("svg"), url($p_fonts + "ProximaNova/ProximaNovaT-Thin.eot?#iefix") format("embedded-opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url($p_fonts + "ProximaNova/ProximaNova-ThinIt.eot");
  src: url($p_fonts + "ProximaNova/ProximaNova-ThinIt.woff2") format("woff2"), url($p_fonts + "ProximaNova/ProximaNova-ThinIt.woff") format("woff"), url($p_fonts + "ProximaNova/ProximaNova-ThinIt.ttf") format("truetype"), url($p_fonts + "ProximaNova/ProximaNova-ThinIt.svg#ProximaNova-ThinIt") format("svg"), url($p_fonts + "ProximaNova/ProximaNova-ThinIt.eot?#iefix") format("embedded-opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Nova";
  src: url($p_fonts + "ProximaNova/ProximaNova-Light.eot");
  src: url($p_fonts + "ProximaNova/ProximaNova-Light.woff2") format("woff2"), url($p_fonts + "ProximaNova/ProximaNova-Light.woff") format("woff"), url($p_fonts + "ProximaNova/ProximaNova-Light.ttf") format("truetype"), url($p_fonts + "ProximaNova/ProximaNova-Light.svg#ProximaNova-Light") format("svg"), url($p_fonts + "ProximaNova/ProximaNova-Light.eot?#iefix") format("embedded-opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url($p_fonts + "ProximaNova/ProximaNova-LightIt.eot");
  src: url($p_fonts + "ProximaNova/ProximaNova-LightIt.woff2") format("woff2"), url($p_fonts + "ProximaNova/ProximaNova-LightIt.woff") format("woff"), url($p_fonts + "ProximaNova/ProximaNova-LightIt.ttf") format("truetype"), url($p_fonts + "ProximaNova/ProximaNova-LightIt.svg#ProximaNova-LightIt") format("svg"), url($p_fonts + "ProximaNova/ProximaNova-LightIt.eot?#iefix") format("embedded-opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Nova";
  src: url($p_fonts + "ProximaNova/ProximaNova-Regular.eot");
  src: url($p_fonts + "ProximaNova/ProximaNova-Regular.woff2") format("woff2"), url($p_fonts + "ProximaNova/ProximaNova-Regular.woff") format("woff"), url($p_fonts + "ProximaNova/ProximaNova-Regular.ttf") format("truetype"), url($p_fonts + "ProximaNova/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg"), url($p_fonts + "ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url($p_fonts + "ProximaNova/ProximaNova-RegularIt.eot");
  src: url($p_fonts + "ProximaNova/ProximaNova-RegularIt.woff2") format("woff2"), url($p_fonts + "ProximaNova/ProximaNova-RegularIt.woff") format("woff"), url($p_fonts + "ProximaNova/ProximaNova-RegularIt.ttf") format("truetype"), url($p_fonts + "ProximaNova/ProximaNova-RegularIt.svg#ProximaNova-RegularIt") format("svg"), url($p_fonts + "ProximaNova/ProximaNova-RegularIt.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Nova";
  src: url($p_fonts + "ProximaNova/ProximaNova-Semibold.eot");
  src: url($p_fonts + "ProximaNova/ProximaNova-Semibold.woff2") format("woff2"), url($p_fonts + "ProximaNova/ProximaNova-Semibold.woff") format("woff"), url($p_fonts + "ProximaNova/ProximaNova-Semibold.ttf") format("truetype"), url($p_fonts + "ProximaNova/ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg"), url($p_fonts + "ProximaNova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url($p_fonts + "ProximaNova/ProximaNova-SemiboldIt.eot");
  src: url($p_fonts + "ProximaNova/ProximaNova-SemiboldIt.woff2") format("woff2"), url($p_fonts + "ProximaNova/ProximaNova-SemiboldIt.woff") format("woff"), url($p_fonts + "ProximaNova/ProximaNova-SemiboldIt.ttf") format("truetype"), url($p_fonts + "ProximaNova/ProximaNova-SemiboldIt.svg#ProximaNova-SemiboldIt") format("svg"), url($p_fonts + "ProximaNova/ProximaNova-SemiboldIt.eot?#iefix") format("embedded-opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Nova";
  src: url($p_fonts + "ProximaNova/ProximaNova-Bold.eot");
  src: url($p_fonts + "ProximaNova/ProximaNova-Bold.woff2") format("woff2"), url($p_fonts + "ProximaNova/ProximaNova-Bold.woff") format("woff"), url($p_fonts + "ProximaNova/ProximaNova-Bold.ttf") format("truetype"), url($p_fonts + "ProximaNova/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg"), url($p_fonts + "ProximaNova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url($p_fonts + "ProximaNova/ProximaNova-BoldIt.eot");
  src: url($p_fonts + "ProximaNova/ProximaNova-BoldIt.woff2") format("woff2"), url($p_fonts + "ProximaNova/ProximaNova-BoldIt.woff") format("woff"), url($p_fonts + "ProximaNova/ProximaNova-BoldIt.ttf") format("truetype"), url($p_fonts + "ProximaNova/ProximaNova-BoldIt.svg#ProximaNova-BoldIt") format("svg"), url($p_fonts + "ProximaNova/ProximaNova-BoldIt.eot?#iefix") format("embedded-opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Nova";
  src: url($p_fonts + "ProximaNova/ProximaNova-Extrabld.eot");
  src: url($p_fonts + "ProximaNova/ProximaNova-Extrabld.woff2") format("woff2"), url($p_fonts + "ProximaNova/ProximaNova-Extrabld.woff") format("woff"), url($p_fonts + "ProximaNova/ProximaNova-Extrabld.ttf") format("truetype"), url($p_fonts + "ProximaNova/ProximaNova-Extrabld.svg#ProximaNova-Extrabld") format("svg"), url($p_fonts + "ProximaNova/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url($p_fonts + "ProximaNova/ProximaNova-Black.eot");
  src: url($p_fonts + "ProximaNova/ProximaNova-Black.woff2") format("woff2"), url($p_fonts + "ProximaNova/ProximaNova-Black.woff") format("woff"), url($p_fonts + "ProximaNova/ProximaNova-Black.ttf") format("truetype"), url($p_fonts + "ProximaNova/ProximaNova-Black.svg#ProximaNova-Black") format("svg"), url($p_fonts + "ProximaNova/ProximaNova-Black.eot?#iefix") format("embedded-opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url($p_fonts + "ProximaNova/ProximaNova-BlackIt.eot");
  src: url($p_fonts + "ProximaNova/ProximaNova-BlackIt.woff2") format("woff2"), url($p_fonts + "ProximaNova/ProximaNova-BlackIt.woff") format("woff"), url($p_fonts + "ProximaNova/ProximaNova-BlackIt.ttf") format("truetype"), url($p_fonts + "ProximaNova/ProximaNova-BlackIt.svg#ProximaNova-BlackIt") format("svg"), url($p_fonts + "ProximaNova/ProximaNova-BlackIt.eot?#iefix") format("embedded-opentype");
  font-weight: 900;
  font-style: italic;
}