.mobile-app {
  background: #F5F7F9 url($p_images + "logo-lg.svg") no-repeat center;
  background-size: contain;
  text-align: center;

  &:before {
    content: "";
    display: block;
    background: url($p_images + "phone.png") no-repeat center bottom;
    background-size: contain;
    height: 88.33333%;
    left: 11.38889%;
    position: absolute;
    bottom: 0;
    width: 27.77778%;
  }

  &__body {
    position: absolute;
    bottom: 15.27778%;
    right: 16.66667%;
  }

  p {
    font-size: rem-calc(12);
    font-weight: 700;
    color: #9AA6B6;
    margin: 0;
    text-transform: uppercase;
  }

  img {
    margin: rem-calc(10 0 15);
  }

  .button {
    margin: rem-calc(45 0 0);
    min-width: rem-calc(200);
  }
}
