// =============================================================================
// BRANDS (CSS)
// =============================================================================

.brands {
  &__indexes {
    margin: rem-calc(0 0 0 -5);

    &__item {
      $size: 30px;

      display: inline-block;
      text-align: center;
      height: rem-calc($size);
      margin-left: rem-calc(5);
      width: rem-calc($size);
      line-height: rem-calc($size - 2);
      text-transform: uppercase;

      a, span {
        border: rem-calc(1) solid $light-gray;
        color: $primary-color;
        display: block;
        position: relative;
      }

      a {
        &:hover {
          border-color: $black;
          top: rem-calc(-2);
        }
      }

    }
  }

  &__group {
    position: relative;

    &__index {
      text-transform: uppercase;
      color: $primary-color;
    }

    .top {
      margin-left: rem-calc(30);
      position: relative;
      font-size: .7em;
      vertical-align: middle;
      color: $body-font-color;
      bottom: rem-calc(2);
      text-transform: none;
      font-family: "Stem";
      font-weight: normal;

      &:before {
        border-bottom: rem-calc(8) solid #000000;
        border-left: rem-calc(5) solid transparent;
        border-right: rem-calc(5) solid transparent;
        content: '';
        display: block;
        left: rem-calc(-20);
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }

  &__list {
    margin: rem-calc(0 0 26);

    &__item {
      display: block;
      margin: rem-calc(0 0 26);

      &__title {
        border-bottom: rem-calc(1) solid lighten($light-gray, 10%);
        padding-bottom: 1rem;
      }
    }
  }
}