// =============================================================================
// ACCORDION (CSS)
// =============================================================================

.accordion {
  list-style-type: none;
  margin: rem-calc(0 0 26);

  &-item {
    border-bottom: rem-calc(1) solid $light-gray;

    @include breakpoint(medium) {
      margin-bottom: rem-calc(13);
      padding: rem-calc(3 0);
    }

    @include breakpoint(small down) {
      margin-bottom: rem-calc(10);
      padding: rem-calc(3 0 7);
    }

    &:last-child {
      margin-bottom: 0;

      @include breakpoint(medium) {
        border-bottom: none;
      }
    }

    > a {
      color: $primary-color;
      display: block;
      padding-left: rem-calc(20);
      position: relative;

      @include breakpoint(medium) {
        font-size: rem-calc(18);
      }

      @include breakpoint(small down) {
        font-size: rem-calc(16);
        line-height: 1.2;
      }

      &:after {
        content: '';
        display: block;
        border-top: rem-calc(8) solid $black;
        border-left: rem-calc(5) solid transparent;
        border-right: rem-calc(5) solid transparent;
        margin-top: rem-calc(-4);
        position: absolute;
        left: 0;
        top: 50%;
        transition: all .15s linear;
      }

      &:hover {
        @include breakpoint(medium) {
          color: $light-gray;
        }
      }

      &[aria-expanded='true'] {
        color: $light-gray;

        &:after {
          transform: scale(-1);
        }
      }
    }
  }

  &-content {
    display: none;

    @include breakpoint(medium) {
      padding: rem-calc(10 0 20);
    }

    @include breakpoint(small down) {
      padding: rem-calc(10 0 20 0);

      article & {
        padding-left: rem-calc(20);
      }
    }

    > * {
      &:first-child {
        margin-top: 0;
        padding-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}

.is-accordion-submenu-parent {
  > a {
    position: relative;

    &:after {
      content: '';
      display: block;
      border-top: rem-calc(8) solid $black;
      border-left: rem-calc(5) solid transparent;
      border-right: rem-calc(5) solid transparent;
      margin-top: rem-calc(-4);
      position: absolute;
      right: rem-calc(10);
      top: 50%;
      transition: all .15s linear;
    }
  }

  &[aria-expanded='true'] {
    > a:after {
      transform: scale(-1);
    }
  }
}