@font-face {
  font-family: "icon";
  src: url($p_fonts + 'icons/icon.eot');
  src: url($p_fonts + 'icons/icon.eot?#iefix') format('eot'),
  url($p_fonts + 'icons/icon.woff') format('woff'),
  url($p_fonts + 'icons/icon.ttf') format('truetype'),
  url($p_fonts + 'icons/icon.svg#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon,
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icon-2x { font-size: 2em; }
.icon-3x { font-size: 3em; }
.icon-4x { font-size: 4em; }
.icon-5x { font-size: 5em; }
.icon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

$icon-content-arrow-left: "\";
$icon-content-arrow-right: "\";
$icon-content-cart: "\";
$icon-content-dots: "\";
$icon-content-down: "\";
$icon-content-facebook: "\";
$icon-content-instagram: "\";
$icon-content-loadmore-arrow: "\";
$icon-content-next: "\";
$icon-content-pinterest: "\";
$icon-content-play: "\";
$icon-content-prev: "\";
$icon-content-separator: "\";
$icon-content-snapchat: "\";
$icon-content-top: "\";
$icon-content-twitter: "\";
$icon-content-user: "\";
$icon-content-wishlist-hollow: "\";
$icon-content-wishlist: "\";


.icon-arrow-left:before { content: $icon-content-arrow-left; }
.icon-arrow-right:before { content: $icon-content-arrow-right; }
.icon-cart:before { content: $icon-content-cart; }
.icon-dots:before { content: $icon-content-dots; }
.icon-down:before { content: $icon-content-down; }
.icon-facebook:before { content: $icon-content-facebook; }
.icon-instagram:before { content: $icon-content-instagram; }
.icon-loadmore-arrow:before { content: $icon-content-loadmore-arrow; }
.icon-next:before { content: $icon-content-next; }
.icon-pinterest:before { content: $icon-content-pinterest; }
.icon-play:before { content: $icon-content-play; }
.icon-prev:before { content: $icon-content-prev; }
.icon-separator:before { content: $icon-content-separator; }
.icon-snapchat:before { content: $icon-content-snapchat; }
.icon-top:before { content: $icon-content-top; }
.icon-twitter:before { content: $icon-content-twitter; }
.icon-user:before { content: $icon-content-user; }
.icon-wishlist-hollow:before { content: $icon-content-wishlist-hollow; }
.icon-wishlist:before { content: $icon-content-wishlist; }