// =============================================================================
// VIDEO (CSS)
// =============================================================================

.html5vp {
  position: relative;

  &__meta {
    font-size: .75em;
    margin: rem-calc(7.5 0 0);
  }

  &__info {
    float: left;

    > * {
      margin: 0;
    }

    &__category {
      color: $light-gray;
    }

    &__title {
      color: #6b6b6b;
      font-size: 1.16em;
    }
  }

  &__like {
    float: right;

    &__button {
      text-decoration: none !important;
      color: $anchor-color;
      display: inline-block;
      font-family: "icon";
      font-size: rem-calc(17);
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      @include breakpoint(medium) {
        font-size: rem-calc(20);
      }

      &:before {
        content: $icon-content-wishlist-hollow;
      }

      &:hover {
        &:before {
          @include breakpoint(medium) {
            color: $alert-color;
          }
        }
      }

      &.liked {
        color: $alert-color;

        &:before {
          content: $icon-content-wishlist;
        }
      }
    }

    .sl-icon {
      font-size: rem-calc(17);

      @include breakpoint(medium) {
        font-size: rem-calc(20);
      }
    }

    .sl-count {
      display: none;
    }
  }
}

.video {
  position: relative;

  > a {
    &:before {
      background-color: rgba($black, .5);
      content: '';
      display: block;
      left: 0;
      top: 0;
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 2;
    }

    &:after {
      background: url("../img/icons/play.png") no-repeat center;
      background-size: contain;
      content: '';
      display: block;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 3;

      @include breakpoint(medium) {
        $size: 50px;

        height: rem-calc($size);
        width: rem-calc($size);
      }

      @include breakpoint(small down) {
        $size: 32px;

        height: rem-calc($size);
        width: rem-calc($size);
      }
    }

    &.active {
      &:before {
        background-color: rgba($black, 0);
      }

      &:after {
        opacity: 0;
      }
    }
  }
}

// =============================================================================
// CUSTOM SKIN OF VIDEOJS PLUGIN (CSS)
// =============================================================================
.video-js {
  background-color: $body-background;
}

.vjs-custom-skin {
  background-color: $body-background;

  margin: 0 auto;

  .vjs-poster {
    background-size: cover;
    outline: none;

    &:before {
      background: rgba($black, .5);
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: all 0.15s linear;
    }
  }

  .vjs-big-play-button {
    $size: 60px;

    background: url("../img/icons/play.png") no-repeat center;
    background-size: contain;
    border: none;
    height: rem-calc($size);
    width: rem-calc($size);

    &:before {
      display: none;
    }
  }

  &:hover {
    .vjs-poster {
      &:before {
        background: rgba($black, .2);
      }
    }

    .vjs-big-play-button {
      background: url("../img/icons/play.png") no-repeat center;
    }
  }

  &.vjs-big-play-centered {
    .vjs-big-play-button {
      margin: 0;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}