.social-links {
  position: relative;

  ul {
    margin: 0;
  }

  li {
    display: block;
    float: left;
    margin-left: rem-calc(20);
    position: relative;
    transition: all .15s linear;

    &:before {
      left: 50%;
      position: absolute;
      top: 50%;
      z-index: 0;
      transform: translateX(-50%) translateY(-50%);
    }

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      @include breakpoint(medium) {
        opacity: .5;
      }
    }

    a {
      position: absolute;
      left: 0;
      height: 100%;
      top: 0;
      width: 100%;
      display: block;
      text-indent: -9999px;
      z-index: 1;
    }
  }
}

.jssocials-share {
  display: inline-block;
  margin-left: rem-calc(20);

  &:first-child {
    margin-left: 0;
  }

  .fa {
    font-size: rem-calc(20);
  }
}

.jssocials-share-link {
  background-position: center;
  background-repeat: no-repeat;
  color: $light-gray;
  display: block;
  text-align: center;
  text-decoration: none;
}
